{% extends 'SiiaBundle::layout.html.twig' %}

{% form_theme edit_form _self %}

{% block form_row %}
    {% spaceless %}
        <div class="pure-control-group">
            {{ form_label(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block content %}
    <h1 class="content-subhead">Editar Usuario SIIAT</h1>

    <section class="block">
        {{ form(edit_form) }}
    </section>
{% endblock %}

