{% extends 'SiiaBundle::layout.html.twig' %}

{% form_theme form _self %}

{% block form_row %}
    {% spaceless %}
        <div class="pure-control-group">
            {{ form_label(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block content %}
    <h1 class="content-subhead">Crear usuario SIIAT para la asociaion</h1>

    <section class="block">
        {{ form(form) }}
    </section>
{% endblock %}