{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}

    <style>

    </style>
    <h1><i class="fa fa-frown-o"></i>  {{ status_code }} - Ha ocurrido un error</h1>
    <blockquote>
        {{ status_text }}
    </blockquote>
    <p>Puede volver al <a href="{{ path('siia_panel') }}">Panel principal</a></p>
{% endblock %}
