{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1><i class="fa fa-lock"></i>  Acceso denegado</h1>
    <p>No cuenta con los suficientes permisos para realizar esta operacion. </p>
    <p>Puede volver al <a href="{{ path('siia_panel') }}">Panel principal</a></p>
{% endblock %}
