{% for item in list %}
    <div class="search-result" style="background: #eae5c2; padding: .05em .5em;margin-bottom: .2em">
        {% set nombre = item|dform_echo('nombre_asociacion') %}
        {% set tel = item|dform_echo('telefono_contacto') %}
        {% set email = item|dform_echo('correo_contacto') %}
        <p>
            <span style="font-size: 1.5em; font-weight: bold">
                {{nombre}} <small>({{ item.localizacion }})</small>
            </span>
        </p>
        {% if tel ~ email is not empty %}
            <p>
                {% if tel is not empty %}
                    <span>
                Teléfono: <a href="tel:{{ tel }}">{{ tel }}</a>
            </span>
                {% endif %}
                {% if email is not empty %}
                    <span>
                Correo electronico: <a href="mailto:{{ email }}">{{ email }}</a>
            </span>
                {% endif %}
            </p>
        {% else %}
            <p>Esta asociación no cuenta con datos de contacto</p>
        {% endif %}

        <a href="#" class="show-products" data-url="{{ path('api_productos_detail', {'asociacion': item.id}) }}">Ver que produce esta asociación</a>
        <div class="products"></div>
        <a href="#" class="show-insumos" data-url="{{ path('api_insumos_detail', {'asociacion': item.id}) }}">Ver que insumos usan</a>
        <div class="insumos"></div>
    </div>
{% endfor %}
