<form action="{{ path('siia_directorio_search') }}" method="get" class="search-box">
    <input type="text" name="query" id="query" placeholder="Buscar ciudades o productos" value="{{ query }}">
    <input type="hidden" name="tab" value="search">
    <button type="submit" class="pure-button pure-button-xlarge search-box-btn">
        <i class="fa fa-search"></i> Buscar
    </button>
</form>

{% if search_results|length > 0 %}
    <div class="search-results">
    {% include 'SiiaBundle:DirectorioPublico:_listado.html.twig' with {'list': search_results} %}
    </div>
{% endif %}
