{% extends 'SiiaBundle::layout_publico.html.twig' %}

{% block mainleftnav %}{% endblock %}

{% block content %}
    <style>
        .pure-g-r p {
            letter-spacing: normal;
        }
    </style>
<div class="pure-g-r">
    <div class="pure-u-1">
        <h2>SIIAT - Sistema Integrado de Información de Adecuación de Tierras</h2>
        <hr/>
    </div>
    <div class="pure-u-1">
        <p>
            El Sistema Integrado de Información de Adecuación de Tierras (S.I.I.A.T) es un instrumento
            diseñado y puesto en marcha por la Subgerencia de adecuación de tierras del <b>INCODER</b> en el
            programa de Servicios complementarios en el marco de los convenios 524 y 547 establecido con la
            Corporación SERAGROS. Y tiene como objetivo convertirse en una herramienta que coadyuve al
            fortalecimiento y la sostenibilidad de las Asociaciones de productores agropecuarios de los distritos
            de riego en el país.
        </p>

        <p>
            El <b>S.I.I.A.T</b> está enfocado en establecer una sinergia con la dinámica de las empresas rurales
            campesinas y la economía nacional, las cuales se han visto relegadas a un segundo plano,
            por la falta de información sustentada en la dificultades de acceso a las zonas de producción,
            desconociendo así la importancia que esta presenta en el desarrollo económico de nuestro país.
        </p>

        <p>
            La importancia que adquiere el programa de servicios complementarios que adelanta el <b>INCODER</b>
            en los procesos de captura y análisis de información de fuentes primaria en los distritos de
            adecuación de tierras, se fortalece con este instrumento y permite tener los elementos necesarios
            para la proyección, focalización y ejecución de la política pública encaminada a la solución de las
            problemáticas actuales.
        </p>

        <p>
            Los tomadores de decisiones están comenzando a comprender que la información no es sólo un
            subproducto de la conducción en las fases del desarrollo rural, sino que a la vez alimenta a todas
            las etapas que integran el desarrollo y es el factor crítico para la determinación del éxito o fracaso
            de la implementación de proyectos en la búsqueda de soluciones de las problemáticas planteadas.
        </p>

        <p>
            El <b>S.I.I.A.T</b> pretende maximizar el uso y la utilidad de la información, es importante entender que
            un negocio (incluida todas las actividades agropecuarias), se debe manejar de forma organizada.
        </p>

        <p>
            Los formuladores, planificadores y ejecutores de la política pública rural necesitan comprender,
            que hay costos asociados con; la producción, distribución, seguridad, almacenamiento, educación,
            salud, vivienda, cobertura en servicios públicos, fuerza laboral y apoyo estatal. Que son factores
            importantes en el diseño de las acciones que el estado aplica para mitigar las diferentes
            problemáticas.
        </p>

        <p>
            El <b>S.I.I.A.T</b> es un sistema de plataforma web intuitiva que permite el manejo de información digital
            ya que difiere en forma significativa del manejo de datos producidos manualmente, los cuales en el
            desarrollo de las actividades del convenio se ha podido evidenciar que se convierten en una de las
            mayores debilidades.
        </p>

        <p>
            Esta herramienta permite hacer un seguimiento continuo de la organización (asociación de
            usuarios). De igual forma genera que las asociaciones consoliden una organización capaz de
            administrar el distrito como una empresa productiva, entendiendo los distritos como focos de
            desarrollo regional que permiten identificar el estado de la productividad y avance a nivel local,
            constituyéndose en un indicador del agro a nivel nacional.
        </p>

        <p>
            El <b>S.I.I.A.T</b> pretende mantener estabilizada y actualizada la información de tal manera que permita
            identificar las fortalezas y debilidades, en actividades organizacionales y productivas acorde con la
            intervención realizada en el programa de servicios complementarios.
        </p>

        <p>
            El sistema de información permite el análisis y consolidación de las características, diagnósticos
            y planes de mejoramiento de distritos de adecuación de tierras, soportado en datos e información
            recopilados en el marco de los convenios del programa de servicios complementarios.
        </p>

        <p>
            El INCODER pretende dotar de un sistema de información local, articulado en red vía Internet con
            las instituciones y entidades estatales del nivel nacional, los industriales nacionales y extranjeros
            y los productores de insumos agropecuarios y tecnología de riego. Generando espacios de
            interacción que permitan fortalecer las economías de escala y consolidar las empresas rurales
            como negocios sostenibles y rentables. Acercando la oferta y la demanda tanto de productos como
            de insumos.
        </p>

        <p>
            El <b>S.I.I.A.T</b> es un instrumento que permite dinamizar la economía de las empresas rurales,
            ofreciendo alternativas tanto para la empresa privada como para los productores.
        </p>

        <p>
            La empresa privada vista como la industria de bienes de uso y consumo la industria Química Ligera
            (Agro insumos), la industria de Biotecnología y la industria que desarrolla tecnología de punta para
            riego.
        </p>

        <p>
            Ellos podrán investigar y conseguir información para cierre de negocios con quienes producen
            directamente, conocer en donde producen, las fechas de siembra, cantidades de entrega, que
            agro insumos consumen y establecer contactos directos que les permitan disminuir sus costos
            de corretaje para la adquisición de sus materias primas o generar negocios directamente con las
            asociaciones suministrándoles insumos y equipos, permitiendo a su vez a los asociados ingresar
            en nuevos escenarios económicos para fortalecimiento de sus organizaciones sociales y a su vez
            lograr disminuir sus costos de producción.
        </p>

        <p>
            El <b>S.I.I.A.T</b> es un sistema de información para el seguimiento de la dinámica económica,
            administrativa, legal y productiva de las asociaciones que administran los distritos de riego de
            pequeña escala. (Servicios en RED)
        </p>

        <p>
            La plataforma permite generar referenciaciones e información necesaria para la implementación
            de proyectos y generación de política pública. Permite orientar y garantizar la implementación de
            programas y servicios del INCODER. Como instrumento de consulta para evitar la duplicidad de
            acciones en la intervención institucional.
        </p>

        <p>
            Con la información suministrada y alimentada desde las juntas directivas de las asociaciones se
            podrá mantener el monitoreo para evaluar la evolución de las unidades productivas agropecuarias
            acompañadas.
        </p>

        <p>
            El Sistema de información permite hacer posible la detección de alertas tempranas que permitan
            ubicar los puntos débiles a fortalecer y que ponen en riesgo el éxito de las iniciativas económicas
            en fortalecimiento.
        </p>

        <p>
            Existe un Módulo de información general de la asociación en dónde se puede visualizar los datos
            básicos fundamentales de la asociación como son: Nombre de la asociación, Departamento,
            Municipio, Vereda Nombre Representante Legal, Situación de Orden Público, Componente
            legal y administrativo, No de usuarios, Presupuesto anual en pesos, Descripción de la población,
            Componente técnico, Tipo de Fuente hídrica, Nombre de fuente hídrica, Concesión de aguas,
            Descripción de la Producción Agropecuaria, Canales de comercialización entre otros.
        </p>

        <p>
            En el módulo de información productiva se puede determinar de forma aproximada los tiempos de
            cultivos y cosechas, tipo de cultivo o producción pecuaria, cantidades de productos ofertados por
            sectores geográficos.
        </p>

        <p>
            <strong>
                SE HACE PERENTORIO EL DILIGENCIAMIENTO DEL REGISTRO GENERAL DE USUARIOS,
                PARA DETERMINAR LA INFORMACIÓN BÁSICA DE LOS USUARIOS DE LOS DISTRITOS
                DE RIEGO, DE TAL MANERA QUE MANTENERLO ACTUALIZADO SEA UN REQUISITO
                FUNDAMENTAL PARA CONVOCATORIAS FUTURAS.
            </strong>
        </p>

        <p>
            En el Módulo de biblioteca se puede almacenar los documentos legales básicos (personería
            jurídica, concesión de aguas, certificación de uso del suelo), para el funcionamiento de cada una
            de las asociaciones, con el fin de disminuir los requerimientos para participar en convocatorias de
            programas del sector agropecuario Estatal.
        </p>

        <p>
            El sistema contara con un módulo que permita vincular el sistema de precios de productos a
            nivel nacional SIPSA como referente para negociaciones presentes y futuras de productos
            agropecuarios.
        </p>

        <p>
            Otro de los aspectos que evidenciara el sistema se fundamenta en el módulo de intervención a las
            asociaciones de productores, este nos permite determinar en tiempo real que tipo de asesorías,
            capacitaciones, intervenciones administrativas o asistencia técnica se ha implementado a los
            usuarios de los distritos. Como alternativa en tiempo real para el manejo de la información de las
            áreas administrativas y técnicas del <b>INCODER</b>.
        </p>

        <p>
            Módulo de información estadística para evaluación y análisis por sectores, departamentos, tipo
            de población, producciones, estado de los distritos, tipo de intervención, genero, nivel educativo,
            edad, intervenciones del Estado, datos sobre el tipo de vivienda, condiciones de cobertura en los
            servicios de salud, información sobre el nivel de escolaridad, nivel de ingresos mensuales etc.
        </p>
    </div>
</div>


{% endblock%}
