<div class="directory-filter">
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
            <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
        {% for item in 'A'..'U' %}
            <li><a href="{{ path('siia_directorio_list', {'filter': item}) }}">{{item}}</a></li>
        {% endfor %}
            <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
    </div>
</div>

{% if results|length > 0 %}
    <div class="directory-results">
        {% include 'SiiaBundle:DirectorioPublico:_listado.html.twig' with {'list': results} %}
    </div>
{% else %}
    <p>No hay asociaciones</p>
{% endif %}
