{% extends 'SiiaBundle::layout_publico.html.twig' %}

{% block mainleftnav %}{% endblock %}

{% block content %}
    {# Slideshow #}
    <div class="pure-u-1">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    {% image '@SiiaBundle/Resources/public/img/slides/fondo_1.JPG' %}
                    <img src="{{ asset_url }}" />
                    {% endimage %}
                </li>
                <li>
                    {% image '@SiiaBundle/Resources/public/img/slides/fondo_2.JPG' %}
                    <img src="{{ asset_url }}" />
                    {% endimage %}
                </li>
                <li>
                    {% image '@SiiaBundle/Resources/public/img/slides/fondo_3.JPG' %}
                    <img src="{{ asset_url }}" />
                    {% endimage %}
                </li>
                <li>
                    {% image '@SiiaBundle/Resources/public/img/slides/fondo_4.JPG' %}
                    <img src="{{ asset_url }}" />
                    {% endimage %}
                </li>
            </ul>
        </div>
    </div>
    {# Informacion de adecuacion de tierras #}
    <div class="pure-g-r">
        <div class="pure-u-1" style="background: #d2e28a">
            <div class="more-description">
                <h2>CREADO POR LA SUBGERENCIA DE ADECUACIÓN DE TIERRAS DEL INCODER</h2>

                <p>
                    El programa de servicios complementarios, es un aspecto importante y fundamental de la manifestación de
                    los compromisos adquiridos por el INCODER frente a las actividades de acompañamiento y fortalecimiento
                    de asociaciones campesinas e el marco del objeto de la subgerencia de Adecuación de Tierras con el
                    objetivo de lograr un aumento de la productividad del sector rural organizado.
                </p>
                <p>El fundamento normativo y legal es:</p>
                <dl>
                    <dt>Constitución Política</dt>
                    <dd>ARTICULO365. Prestación de servicios públicos.</dd>
                    <dt>LEY 41 de 1993</dt>
                    <dd>Por la cual se organiza el subsector de adecuación de tierras y se establecen sus funciones.</dd>
                    <dt>LEY 489 de 1998</dt>
                    <dd>Por la cual se dictan normas sobre la organización y funcionamiento de las entidades del orden
                        nacional, se expiden las disposiciones, principios y reglas generales para el ejercicio de las
                        atribuciones previstas en los numerales 15 y 16 del artículo 189 de la Constitución Política y se
                        dictan otras disposiciones. <br/>
                        Esta ley es la que regula el ejercicio de la función pública, es decir una norma general que se
                        aplica a las actuaciones específicas de adecuación de tierras.</dd>
                    <dt>DECRETO 1881 De 1994</dt>
                    <dd>Por el cual se reglamenta parcialmente la Ley 41 de 1993.</dd>
                    <dt>DECRETO 1380 DE 1995</dt>
                    <dd>Por el cual se reglamenta parcialmente el artículo 21 de la Ley 41 de 1993.</dd>
                    <dt>DECRETO 3759 DE 2009</dt>
                    <dd>Por el cual se aprueba la modificación de la estructura del Instituto Colombiano de Desarrollo Rural – INCODER, y se dictan otras disposiciones</dd>
                </dl>
            </div>
        </div>
    </div>

    {# Productor, Comprador #}
    <div class="pure-g-r">
        <div class="pure-u-1-2">
            <div class="productor-block">
                <h2>BENEFICIOS PARA EL PRODUCTOR</h2>
            </div>
            <div class="pure-u-1-12"></div>
            <div class="pure-u-5-6 productor-content">
                <div class="productor-arrow"></div>
                <p>
                    El S.I.I.A.T es un instrumento que permite dinamizar la economía de las empresas rurales,
                    ofreciendo alternativas para los productores.
                </p>
                <p>
                    Mayores posibilidades de negocios y mejoramiento en las condiciones de negociación, frente a la
                    consolidación de un nuevo mercado con un porcentaje de clientes mayor que el que tienen en sus
                    negocios actuales.
                </p>
                <p>
                    Se generan ventas directas sin intermediación aumentando sus ingresos, mejorando sus
                    condiciones de vida.
                </p>
                <p>
                    Cuentan con los beneficios de una Vitrina virtual efectiva para mostrar sus productos.
                    Las asociaciones pueden incursionar en la compra directa y distribución, de los agro insumos
                    y equipos necesarios para las empresas agropecuarias afiliadas, disminuyendo los costos de
                    producción y generando mayores márgenes de ganancia.
                </p>
                <p>
                    Las asociaciones ingresan en nuevos negocios ampliando su portafolio de servicios.
                </p>
            </div>
        </div>
        <div class="pure-u-1-2">
            <div class="comprador-block">
                <h2>BENEFICIOS PARA LA EMPRESA PRIVADA</h2>
            </div>
            <div class="pure-u-1-12"></div>
            <div class="pure-u-5-6 comprador-content">
                <div class="comprador-arrow"></div>
                <p>
                    El S.I.I.A.T es un instrumento que permite dinamizar la economía de las empresas rurales,
                    ofreciendo alternativas para la empresa privada.
                </p>
                <p>
                    La empresa privada vista como la industria de bienes de uso y consumo la industria Química Ligera
                    (Agro insumos), la industria de Biotecnología y la industria que desarrolla tecnología de punta para
                    riego.
                </p>
                <p>
                    Ellos podrán investigar y conseguir información para cierre de negocios con quienes producen
                    directamente, conocer en donde producen, las fechas de siembra, cantidades de entrega, que
                    agro insumos consumen y establecer contactos directos que les permitan disminuir sus costos
                    de corretaje para la adquisición de sus materias primas o generar negocios directamente con las
                    asociaciones suministrándoles insumos y equipos.
                </p>
            </div>
        </div>
    </div>

    {# Mini buscador #}
    <div class="pure-g-r">
        <div class="pure-u-1">
            <div class="buscador-block">
                <h2>MODULO DE CONSULTAS PUBLICAS</h2>
            </div>
            <div class="pure-u-1 buscador-content">
                <form action="{{ path('siia_directorio_search') }}" method="get" class="pure-form search">
                    <input type="text" name="query" id="query" placeholder="Buscar ciudades, productos o insumos" class="pure-input-2-3 pure-input-rounded">
                    <button type="submit" class="pure-button pure-button-search">
                        <i class="fa fa-search"></i> Buscar
                    </button>
                    <span><small>(Digite palabras claves acorde a su negocio)</small></span>
                </form>
                <ul>
                    <li>Si usted busca productos o materia prima del sector agropecuario, para su negocio o industria</li>
                    <li>Si usted suministra bienes o servicios ara el sector agropecuario</li>
                    <li>Su usted ofrece productos financieros para empresas rurales</li>
                </ul>
            </div>
        </div>
    </div>

    {# Categorias, productos, regiones y mas informacion #}
    <div class="pure-g-r more-info">
        <div class="pure-u-1-24"></div>
        <div class="pure-u-23-24" style="background: #d2e28a">
            <div class="more-description">
                <h2>POR QUE SER PARTE DE SIIAT</h2>
                <p>
                    Es un sistema de información local, articulado en red vía Internet con las instituciones y entidades
                    estatales del nivel nacional, los industriales nacionales y extranjeros y los productores de insumos
                    agropecuarios y tecnología de riego. Genera espacios de interacción que permiten fortalecer las
                    economías de escala y consolidan las empresas rurales como negocios sostenibles y rentables.
                </p>

                <p>
                    Acercando la oferta y la demanda tanto de productos como de insumos.
                </p>

                <p>
                    El S.I.I.A.T es un instrumento que permite dinamizar la economía de las empresas rurales,
                    ofreciendo alternativas tanto para la empresa privada como para los productores.
                </p>

                <p>
                    Es una herramienta que coadyuva al fortalecimiento y la sostenibilidad de las Asociaciones de
                    productores agropecuarios de los distritos de riego en el país.
                </p>

                <p>
                    El S.I.I.A.T está enfocado en establecer sinergia con la dinámica de las empresas rurales
                    campesinas y la economía nacional.
                </p>

                <p>
                    Ayuda a consolidar una organización capaz de administrar el distrito como una empresa
                    productiva.
                </p>

                <p>
                    La captura y análisis de información de fuentes primaria en los distritos permite tener los elementos
                    necesarios para la proyección, focalización y ejecución de la política pública encaminada a la
                    solución de las problemáticas actuales.
                </p>
            </div>
        </div>
    </div>
{% endblock%}
