{% extends 'SiiaBundle::layout_publico.html.twig' %}

{% block mainleftnav %}{% endblock %}

{% block content %}
    <div class="pure-g-r">
        <div class="pure-u-1">
            <div class="buscador-block">
                <h2>MODULO DE CONSULTAS PUBLICAS</h2>
            </div>
            <div class="pure-u-1 buscador-content">
                <form action="{{ path('siia_directorio_search') }}" method="get" class="pure-form search">
                    <input type="text" value="{{ query }}" name="query" id="query" placeholder="Buscar ciudades, productos o insumos" class=" pure-input-rounded" style="width: 80%">
                    <button type="submit" class="pure-button pure-button-search">
                        <i class="fa fa-search"></i> Buscar
                    </button>
                </form>
            </div>

            {% set count = search_results|length %}

            <hr/>
            <p>
                {% transchoice count %}
                {0} No se encontraron asociaciones, intente otro termino |{1} Se encontro una asociacion|]1,Inf] Fueron encontradas %count% asociaciones
                {% endtranschoice %}
            </p>

            {% if count > 0 %}
                {% include 'SiiaBundle:DirectorioPublico:_listado.html.twig' with {'list': search_results} %}
            {% endif %}

        </div>
    </div>



{% endblock %}

{% block extrascripts %}

    <script>
        var SEARCH_URL = "{{ path('siia_directorio_search') }}";
    </script>

    {% verbatim %}
    <script id="tpml-productos" type="text/x-handlebars-template">
        <div class="pure-g-r">
        {{#if productos}}
            <div class="pure-u-1">
                Produce:
            </div>
            {{#each productos}}
                <div class="pure-u-1-2">
                    <a title="Ver que asociaciones tambien producen {{nombreProducto}}"
                       href='{{search_url}}?query="{{nombreProducto}}"'>
                        <strong>{{nombreProducto}}</strong>
                    </a>
                    {{volumenProducido}} {{unidadProduccion}}
                </div>
            {{/each}}
        {{else}}
        <div class="pure-u-1">
            <p>Esta asociación no ha cargado información sobre su producción</p>
        </div>
        {{/if}}
        </div>
    </script>
    {% endverbatim %}

    {% verbatim %}
    <script id="tpml-insumos" type="text/x-handlebars-template">
        <div class="pure-g-r">
            {{#if insumos}}
            <div class="pure-u-1">
                Insumos que usa:
            </div>
            <div class="pure-u-1">
                <table class="pure-table pure-table-horizontal">
                    <thead>
                    <tr>
                        <th>Insumo</th>
                        <th>Frecuencia</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each insumos}}
                    <tr>
                        <td>{{nombre}} {{#if marca}}{{marca}}{{/if}}</td>
                        <td>{{frecuencia}}</td>
                    </tr>
                    {{/each}}
                </tbody>
                </table>
            </div>
            {{else}}
            <div class="pure-u-1">
                <p>La asociación no ha indicado ningun insumo</p>
            </div>
            {{/if}}
        </div>
    </script>
    {% endverbatim %}

    {% javascripts
        '@SiiaBundle/Resources/public/libs/handlebars.js/dist/handlebars.js'
        '@SiiaBundle/Resources/public/js/search.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
