body {
    color: #777;
}

body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: 'Open Sans', sans-serif;
}

.main-layout,
.main-menu,
.pure-menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.main-layout {
    padding-left: 200px;
    left: 0;
}

.main-menu {
    margin-left: -200px;
    width: 200px;
    position: fixed;
    top: 0;
    left: 200px;
    bottom: 0;
    z-index: 1000;
    background: #191818;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scroll: touch;
}

.main-menu .pure-menu a {
    color: #999;
    border: none;
    white-space: normal;
    padding: 0.6em 0 0.6em 0.6em;
}

.main-menu .pure-menu-heading  {
    font-size: 110%;
    color: #fff;
}

.main-menu .pure-menu ul,
.main-menu .pure-menu .menu-item-divided {
    border-top: 1px solid #333;
}

.main-menu .pure-menu li a:hover,
.main-menu .pure-menu li a:focus {
    background: #333;
}

.main-menu .pure-menu-selected {
    background: #1f8dd6;
}

.main-menu .pure-menu-selected a {
    color: #fff;
}

.main-menu li.pure-menu-selected a:hover,
.main-menu li.pure-menu-selected a:focus {
    background: none;
}

.main-menu .pure-menu-open {
    background: transparent;
    border: 0;
}

.form-header {
    min-height: 80px;
    margin: 0;
    color: #333;
    padding: 1em 2em;
    text-align: center;
    border-bottom: 1px solid #eee;
    background: #fff;
}

.form-content {
    margin: 0 auto;
    padding: 2em 2em 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
}
