{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">{{ 'asociacion.dg_empresarial.title_new'|trans }}</h1>

    <section class="block">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <table class="table table-stripped">
            <style type="text/css" scoped>
                table, th, td { border: 0 !important }
            </style>
            <tbody>
            <tr>
                <td colspan="2">
                    {{ form_row(form.fechaDiagnostico) }}
                </td>

            </tr>
            <tr>
                <th width="50%">{{ 'title.afirmacion'|trans }}</th>
                <th>{{ 'title.option'|trans }}</th>
            </tr>
            {% for k,item in form.respuesta %}
                <tr>
                    <td>
                        {{ entity.respuesta.get(k).afirmacion.description }}
                        {{ form_widget(item.afirmacion) }}
                    </td>
                    <td>{{ form_widget(item.opcion) }}</td>
                </tr>
                {{ form_rest(item) }}
            {% endfor %}
            <tr>
                <td colspan="2">{{ form_row(form.submit) }}</td>
            </tr>
            </tbody>
        </table>

        {{ form_end(form) }}
    </section>
{% endblock %}
