{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">Editar registro único {{asociado.data.nombre_asociado}} {{asociado.data.apellidos_asociado}}</h1>

    <section class="block">
        <form action="{{path('siia_registro_unico_update', {'asociado':asociado.id})}}" method="post" class="pure-form pure-form-stacked">
            {% if msg is defined %}<p>{{msg}}</p>{% endif %}
            <div data-rrs-form="{{ path('dform_api_get_trans', {'uuid': asociado.transaction.id}) }}"></div>
            <button type="submit" class="pure-button pure-button-primary">Guardar</button>
            <button type="submit" class="pure-button pure-button-primary">Guardar y continuar</button>
        </form>
    </section>
{% endblock %}

{% block leftnav %}
    <ul>
        <li><a href="{{path('siia_registro_unico_list', {'asociacion': asociado.asociacion.id})}}">
            <i class="fa fa-chevron-left"></i> Volver</a>
        </li>
    </ul>
{% endblock %}
