{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
<h1 class="content-subhead">Registro unico de usuarios</h1>

<section class="block">
    {% if usuarios|length > 0 %}
    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th><input type="checkbox"></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td><input type="checkbox" id="users_{{loop.index0}}"></td>
                <td>
                    <a href=" {{ path('siia_registro_unico_edit', {'asociado': usuario.id}) }}">
                        {{usuario.data.nombre_asociado}} {{usuario.data.apellidos_asociado}}
                    </a>
                </td>
                <td><a href="{{ path('siia_resumen_asociado', {'id': usuario.id}) }}">Ver resumen</a></td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagerfanta">
        {{ pagerfanta(usuarios, 'twitter_bootstrap3_translated') }}
    </div>
    {% else %}
    <aside class="message">
        <p>No hay usuarios en esta asociación</p>
    </aside>
    {% endif %}
</section>
{% endblock %}

{% block leftnav %}
<ul>
    <li><a href="{{ path('siia_registro_unico_new', {'asociacion': asociacion}) }}">
            <i class="fa fa-plus"></i> Nuevo registro único</a>
    </li>
    <li><a href=" {{ path('siia_resumen_asociacion', {'id': asociacion}) }}"> <i class="fa fa-chevron-left"></i> Volver</a></li>
</ul>
{% endblock %}
