{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
<h1 class="content-subhead">Nuevo registro único de usuario</h1>

<section class="block">
    <form action="{{path('siia_registro_unico_create')}}" method="post" class="pure-form pure-form-aligned">
        {% if msg is defined %}<p>{{msg}}</p>{% endif %}
        <div data-rrs-form="{{ path('dform_api_get_trans', {'uuid': registro_unico}) }}"></div>
        <input type="hidden" name="asociacion" value="{{asociacion}}">
        <button type="submit" class="pure-button pure-button-primary">Guardar</button>
        <button type="submit" class="pure-button pure-button-primary">Guardar y continuar</button>
    </form>
</section>
{% endblock %}

{% block leftnav %}
<ul>
    <li><a href="{{path('siia_registro_unico_list', {'asociacion': asociacion })}}">
        <i class="fa fa-chevron-left"></i> Volver</a>
    </li>
</ul>
{% endblock %}
