{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">{{'asociacion.caracterizacion.title_edit'|trans({'%asociacion%': entity|dform_echo('nombre_asociacion')})}}</h1>

    {% include 'SiiaBundle::_note.html.twig' %}

    <section class="block">
        {{ form(edit_form) }}
    </section>
{% endblock %}
