{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">{{ 'asociacion.caracterizacion.title_list'|trans }}</h1>
    {# Opcion unica para el operador, filtrar por asesor #}

    <div class="row" data-ng-app="listado">
        <div class="col-md-12" data-ng-controller="caracterizacion">
            <div class="input-group"
                 data-ng-init="searchUrl = '{{ url('asociacion_caracterizacion') }}'; actionsUrl = '{{ url('asociacion_caracterizacion_actions') }}'">
                <div class="input-group-btn"
                        data-ng-init="updateSearchBy({{ searchBy }})">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span id="search_concept">Filtrar por</span>
                        <span data-ng-bind="searchBy.label"
                              data-ng-show="searchBy"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li data-ng-repeat="item in searchByList">
                            <a href="#"
                               data-ng-click="updateSearchBy(item)"
                               data-ng-bind="item.label"></a>
                        </li>
                    </ul>
                </div>
                <input type="text" class="form-control" name="x"
                        {% verbatim %}placeholder="{{ searchBy == null ? 'Seleccione un tipo' : 'Digite busqueda' }}" {% endverbatim %}
                        data-ng-disabled="!searchBy"
                        data-ng-model="searchQuery"
                        data-ng-init="searchQuery = {{ query }}">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"
                        data-ng-click="clearSearch()">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </button>
                <button class="btn btn-default" type="button"
                        data-ng-click="searchNow()">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <section class="block">
            <p>{{ entities|length }} registros encontrados</p>

            {% if entities|length > 0 %}
                <div class="panel panel-default">
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>
                                    No
                                </th>
                                <th>
                                    Sigla
                                    {% if not sorts %}
                                        <a href="{{ path('asociacion_caracterizacion', {'sorts': {'sigla':'asc'} }) }}">
                                            <span class="glyphicon glyphicon-sort" style="margin-left: 50%;"></span>
                                        </a>
                                    {% else %}
                                        {% if sorts['sigla'] == 'asc' %}
                                            <a href="{{ path('asociacion_caracterizacion', {'sorts': {'sigla':'desc'} }) }}">
                                                <span class="glyphicon glyphicon-sort-by-alphabet" style="margin-left: 50%;"/>
                                            </a>
                                        {% else %}
                                            <a href="{{ path('asociacion_caracterizacion', {'sorts': {'sigla':'asc'} }) }}">
                                                <span class="glyphicon glyphicon-sort-by-alphabet-alt" style="margin-left: 50%;"/>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </th>
                                <th>
                                    Localización
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td> {{ (page -1) * limit + loop.index }}</td>
                                <td>
                                    {{ entity|dform_echo('siglas_asociacion') }}
                                </td>
                                <td style="width: 35%; text-transform: uppercase">
                                    {{entity|dform_echo('centro_poblado')}}
                                    {% if  entity|dform_echo('centro_poblado') != entity|dform_echo('municipio') %}
                                        - {{entity|dform_echo('municipio')}},
                                    {% else %},
                                    {% endif %}
                                    {{entity|dform_echo('departamento')}}
                                </td>
                                <td style="width: 20%">
                                    {% if not app.user.hasRole('ROLE_SUPERVISOR') %}
                                        <a href="{{path('asociacion_caracterizacion_edit', {'id': entity.id})}}"
                                           class="btn btn-default btn-xs">Editar</a>
                                        {% if app.user.hasRole('ROLE_ADMIN') %}
                                            <a href="{{ path('siia_admin_move_asociacion', {'id': entity.id}) }}"
                                               class="btn btn-default btn-xs">Mover</a>
                                        {% endif %}
                                    {% endif %}
                                    <a href="{{path('asociacion_caracterizacion_show', {'id': entity.id})}}"
                                       class="btn btn-default btn-xs">Resumen</a>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="pagerfanta">
                    {{ pagerfanta(entities, 'twitter_bootstrap3_translated') }}
                </div>
            {% endif %}
        </section>
    </div>
{% endblock %}

{% block extrasheets %}
    {% stylesheets
    '@SiiaBundle/Resources/public/scss/listado_rev2.scss' %}
    <link rel="stylesheet" href="{{asset_url}}">
    {% endstylesheets %}
{% endblock %}

{% block extrascripts %}
    {% javascripts
        '@SiiaBundle/Resources/public/libs/angular/angular.js'
        '@SiiaBundle/Resources/public/js/listado.app.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}