{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
<h1 class="content-subhead">{{ 'asociacion.caracterizacion.title_list'|trans }}</h1>
    {% if is_granted('ROLE_OPERADOR') %}
    <form action="{{ path('asociacion_caracterizacion') }}" method="get">
        <div class="row">
            <div class="col-md-4">
                <select name="asesor" class="form-control">
                    <option value="">-- Seleccione asesor --</option>
                    {% for a in asesores %}
                        <option value="{{ a.id }}" {% if a.id == asesor %}selected{% endif %}>{{ a.nombre }} {{ a.apellidos }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-default">Filtrar</button>
            </div>
        </div>
    </form>
    <br/>
    {% endif %}
<section class="block">
    {% if entities|length > 0 %}
    <p>Hay {{ entities|length }} registros en total</p>
    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ 'asociacion.caracterizacion.sigla'|trans }}</th>
                <th>{{ 'asociacion.caracterizacion.place'|trans }}</th>
                <th>{{ 'asociacion.caracterizacion.asesor'|trans }}</th>
                <th>RUG</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for asociacion in entities %}
            <tr>
                <td>{{ (page -1) * limit + loop.index }}</td>
                <td>
                    <a href=" {{ path('asociacion_caracterizacion_edit', {'id': asociacion.id}) }}">
                        {{ asociacion|dform_echo('siglas_asociacion') }}
                    </a>
                </td>
                <td>{{asociacion|dform_echo('localizacion_asociacion')}}</td>
                <td>{{ asociacion.asesores.first }}</td>
                <td>{{ asociacion.asociado|length }}</td>
                <td><a href="{{path('asociacion_caracterizacion_show', {'id': asociacion.id})}}">Ver resumen</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagerfanta">
        {{ pagerfanta(entities, 'twitter_bootstrap3_translated') }}
    </div>
    {% else %}
    <aside class="message">
        <p>{{ 'asociacion.caracterizacion.msg_no_entities'|trans }}</p>
    </aside>
    {% endif %}
</section>
{% endblock %}
