{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">{{ 'asociacion.caracterizacion.new'|trans }}</h1>

    {% include 'SiiaBundle::_note.html.twig' %}

    <section class="block">
        {{ form(form) }}
    </section>
{% endblock %}
