{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">{{ 'asociacion.listado.registro_unico'|trans }}</h1>

    <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
            <th>No.</th>
            <th>Nombre</th>
            <th>Cedula de ciudadanía</th>
            <th>Finca</th>
            <th>No. Registro catastral</th>
            <th>Condición legal</th>
            <th>Extensión predio</th>
            <th>Área a irrigar</th>
            <th>Productos</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ entity|dform_echo("nombre_asociado") }} {{ entity|dform_echo("apellidos_asociado") }}</td>
                <td>{{ entity|dform_echo("documento_identidad") }}</td>
                <td>{{ entity|dform_echo("nombre_propiedad") }}</td>
                <td>{{ entity|dform_echo("registro_catastral") }}</td>
                <td>{{ entity|dform_echo("condicion_legal") }}</td>
                <td>{{ entity|dform_echo("extension_predio") }}</td>
                <td>{{ entity|dform_echo("area_a_irrigar") }}</td>
                <td>{{ entity.getProductosProducidos()|join(', ') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
