{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">Resumen de
        <strong>{{entity|dform_echo('siglas_asociacion')}}</strong>
        {% if app.debug %}
            <a href="{{ path('dform_api_get_trans', {'uuid': entity.slug}) }}">
                SLUG
            </a>
        {% endif %}
    </h1>
    {# Caracterizacion #}
    {% if entity.updatedAt %} Última actualización el {{ entity.updatedAt|date('d/m/Y') }} {% endif %}
    {% include 'DFormBundle:Helper:_section.html.twig' with {'info': entity} %}
    {# Diagnostico tecnico #}
    {% if entity.diagnosticoTecnico|length > 0 %}
        <h1 class="content-subhead">Diagnóstico técnico</h1>
        {% set dg_tecnico =  entity.diagnosticoTecnico.first %}
        {% if dg_tecnico .updatedAt %} Última actualización el {{ dg_tecnico.updatedAt|date('d/m/Y') }} {% endif %}
        {% include 'DFormBundle:Helper:_section.html.twig' with {'info': dg_tecnico } %}
        {% include '@Siia/Asociacion/DiagnosticoTecnico/caudales_show.html.twig' with {'diagnostico': dg_tecnico } %}
        {% include '@Siia/Asociacion/DiagnosticoTecnico/planos_show.html.twig' with {'diagnostico': dg_tecnico } %}
        {% include '@Siia/Asociacion/DiagnosticoTecnico/miembros_show.html.twig' with {'diagnostico': dg_tecnico } %}
    {% endif %}

    {% if entity.diagnosticoEmpresarial|length > 0 %}
        <section class="block">
            <h3>Diagnóstico empresarial <br/><small>realizado el: {{ entity.diagnosticoEmpresarial.first.fechaDiagnostico|date('d/m/Y') }}</small></h3>
            {{ render(controller('SiiaBundle:PlanAccion/PlanAccion:generateMinimal', {'id': entity.id})) }}
        </section>
    {% endif %}
    {% if entity.asociado|length > 0 %}
        <section class="block">
            <h3>Consolidado productivo</h3>
            {{ render(controller('SiiaBundle:Productivo/ConsolidadoProductivo:asociacion', {'id': entity.id})) }}
        </section>
    {% endif %}
{% endblock %}
