<!DOCTYPE html>
<html lang="{{language}}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans|PT+Sans' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="http://flexslider.woothemes.com/css/flexslider.css"/>
        <title>{% block title %}SIIAT - Sistema Integrado de Información de Adecuación de Tierras{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block extrasheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon_64x64.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}
        {% block extrascripts %}{% endblock %}
    </body>
</html>
