<ul>
    <li>
        <a href=" {{ path('siia_indicadores_general') }}">
            <i class="fa fa-caret-right"></i> Estructura general
        </a>
    </li>
    <li>
        <a href=" {{ path('siia_indicadores_tamano_hogar') }}">
            <i class="fa fa-caret-right"></i> Tamaño del hogar
        </a>
    </li>
    <li>
        <a href=" {{ path('siia_indicadores_grupos_etarios') }}">
            <i class="fa fa-caret-right"></i> Grupos etários
        </a>
    </li>
    <li>
        <a href=" {{ path('siia_indicadores_actividad_economica') }}">
            <i class="fa fa-caret-right"></i> Actividad económica
        </a>
    </li>
    <li>
        <a href=" {{ path('siia_indicadores_tenencia_vivienda') }}">
            <i class="fa fa-caret-right"></i> Tenencia de la vivienda
        </a>
    </li>

    <li><a href=" {{ path('siia_panel') }}"> <i class="fa fa-chevron-left"></i> Volver</a></li>
</ul>

