{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">Estado civil</h1>

    <section class="block">
        <div class="pure-g-r">
            <div id="bar" style="height: 400px;" class="pure-u-1"></div>
        </div>
    </section>
{% endblock %}

{% block extrascripts %}
    {% javascripts
    '@SiiaBundle/Resources/public/libs/flot/jquery.flot.js'
    '@SiiaBundle/Resources/public/libs/flot/jquery.flot.pie.js'
    '@SiiaBundle/Resources/public/libs/flot/jquery.flot.categories.js' %}

    <script src="{{asset_url}}"></script>
    {% endjavascripts %}
    <script>
        jQuery(function() {

            // Bar
            $.plot("#bar", [{{data|json_encode|raw}}], {
                colors: ["#5991C1", "#07942E", "#E9C539"],
                series: {
                    bars: {
                        show: true,
                        barWidth: 0.6,
                        align: "center"
                    }
                }
                ,xaxis: {
                    mode: "categories"
                }
                // ,yaxis: {
                //     max: {{total}},
                //     tickFormatter: function(v, axis) {
                //         return v.toFixed(axis.tickDecimals) + '%';
                //     }
                // }
            });

        });
    </script>
{% endblock %}
