{% extends 'SiiaBundle::layout.html.twig' %}

{% block extrasheets %}
    {% stylesheets
    '@SiiaBundle/Resources/public/scss/_indicators.scss'
    %}
    <link rel="stylesheet" href="{{asset_url}}">
    {% endstylesheets %}
{% endblock %}

{% block extrascripts %}
    {% verbatim %}
    <script id="tmpl-options" type="text/x-handlebars-template">
        {{#each acciones}}
        <option title="{{label}}" value="{{name}}">{{label}}</option>
        {{/each}}
    </script>
    {% endverbatim %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script>
        google.load("visualization", "1", {packages:["corechart", "table"]});
    </script>
    {% javascripts
        '@SiiaBundle/Resources/public/libs/blob/Blob.js'
        '@SiiaBundle/Resources/public/libs/blueimp-canvas-to-blob/js/canvas-to-blob.js'
        '@SiiaBundle/Resources/public/libs/file-saver/FileSaver.js'
        '@SiiaBundle/Resources/public/js/generator.js'
        '@SiiaBundle/Resources/public/js/generator_options.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <h1 class="content-subhead">Generador de indicadores</h1>

    <section class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-4">
                    {# Campos disponibles #}
                    <fieldset>
                        <legend>Selección de campos</legend>
                        <label>Seleccione objeto</label>
                        <select id="object" class="form-control" name="form[object]" data-url="{{ path('siia_indicadores_objeto') }}">
                            <option value="">-- Seleccione objeto a consultar --</option>
                            <option value="caracterizacion_asociacion">Caracterización asociacion</option>
                            <option value="perfil_socioeconomico">Perfil socioeconomico</option>
                            <option value="diagnostico_tecnico">Diagnóstico técnico</option>
                        </select>
                        <label for="form_fields">Selecciona el campo que deseas agregar</label>
                        <select id="form_fields" name="form[fields]" size="8" class="form-control"></select>
                    </fieldset>
                </div>
                <div class="col-md-4 col-xs-4">
                    {# Series #}
                    {# , {k: 'y', l: 'Serie B'} #}
                    {% set series = [{k: 'x', l: 'Serie A'}, {k: 'y', l: 'Serie B'}]%}
                    <fieldset>
                        <legend>Datos de la gráfica</legend>

                        {% for s in series %}
                            <div class="input_data_{{ s.k }}">
                                <label>{{ s.l }}</label>
                                <div class="input-group">
                                    <input
                                          id="bar_{{ s.k }}_lbl"
                                          style="display: inline-block"
                                          type="text" placeholder="Seleccione campo" readonly
                                          class="form-control"/>
                                    <input id="bar_{{ s.k }}" name="bar[{{ s.k }}]" type="hidden"/>

                                    <span class="input-group-btn">
                                        <button
                                              id="btn_set_serie_{{ s.k }}"
                                              class="btn btn-default"><i class="fa fa-arrow-left"></i></button>
                                    </span>
                                </div>
                            </div>
                        {% endfor %}
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-xs-8">
                    <fieldset>
                        <legend>Filtrar por</legend>
                        <div class="form-group">
                            <label>Campo 1</label>
                            <div class="row">
                                <div class="col-md-5 col-xs-5">
                                    <input
                                          id="filter_0_lbl"
                                          type="text" placeholder="Seleccione campo" readonly
                                          class="form-control"/>
                                    <input id="filter_0" name="filter[0][field]" type="hidden"/>
                                </div>

                                <div class="col-md-3 col-xs-3">
                                    <select class="form-control" name="filter[0][comp]">
                                        <option></option>
                                        <option value="E">Igual ( = )</option>
                                        <option value="NE">Diferente ( <> )</option>
                                        <option value="GT">Mayor que ( > )</option>
                                        <option value="GTE">Mayor o igual ( >= )</option>
                                        <option value="LT">Menor que ( < )</option>
                                        <option value="LTE">Menor que ( <= )</option>
                                    </select>
                                </div>

                                <div class="col-md-4 xol-xs-4">
                                    <div class="input-group">
                                        <input
                                              name="filter[0][value]"
                                              type="text" placeholder="Digite el valor"
                                              class="form-control"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" data-role="add-filter">
                                            <i class="fa fa-arrow-left"></i>
                                        </button>
                                        <button class="btn btn-default" data-role="clear-filter">
                                            <i class="fa fa-times-circle"></i>
                                        </button>
                                    </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-xs-8">
                    {# Tipo de grafico #}
                    <fieldset>
                        <legend>Opciones</legend>
                        <div class="row">
                            <div class="col-md-7 co-xs-7">
                                <label for="options_chart">Seleccione el tipo de gráfica</label>
                                <select id="options_chart" name="options[chart]" class="form-control">
                                    <option value="bar">Barras</option>
                                    <option value="pie">Pastel</option>
                                </select>
                            </div>
                            <div class="col-md-5 col-xs-5">
                                <label>Finalizar</label><br/>
                                <button id="generate-btn" class="btn btcaracterizacionn-primary"><i class="fa fa-cogs"></i> Generar graficá</button>
                                <button data-action="saveCanvas" class="btn btn-default"><i class="fa fa-floppy-o"></i> Guardar imagen
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row">
                <input id="results_path"  type="hidden" value="{{ path('siia_indicadores_results') }}"/>
                <div class="col-md-8 col-xs-8">
                    <div id="chart-result" style="width: 800px; height: 500px"></div>
                    <div id="chart-table"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
