{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">Generador de indicadores</h1>

    <section class="block ng-cloak" data-ng-app="generator" data-ng-controller="reporting">
        {# Seleccione el objeto #}
        <div class="row">
            <div class="col-md-6"
                 data-ng-init="
                 data_url = '{{ path('siia_indicadores_objeto') }}';
                 values_url = '{{ path('siia_indicadores_value') }}';
                 results_url = '{{ path('siia_indicadores_results') }}'">
                <label for="object-selecter">1. Escoja el objeto</label>
                <select id="object-selecter"
                        data-ng-model="selected_object"
                        data-ng-options="item.label for item in available_objects">
                    <option value="">Seleccione una objeto</option>
                </select>
            </div>
        </div>
        {# Seleccion de campos #}
        <div class="row">
            <div class="col-md-6">
                <label for="">Campos disponibles <br/> <span class="help">Arrastre hasta el destino</span></label>
                <div class="items-group bordered">
                    <div class="list-group">
                        <div class="list-group-item"
                             data-jre-draggable
                             data-ng-repeat="item in available_fields"
                             data-ng-bind-html="item.label | unsafe"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="">2. Campos seleccionados <i>(máximo 2 campos)</i> <br/> <span class="help">Puede organizarlos</span></label>
                <div class="overlay-wrapper">
                    <div class="drop-message"
                         data-ng-hide="selected_fields.length > 0">
                        <p style="min-height: 192px; line-height: 192px">Arrastre los campos aquí </p>
                    </div>
                    <div data-jre-droppable="selected_fields" class="list-group">
                        <div class="items-group"
                             data-ng-class="{'bordered': selected_fields.length > 0}"
                             data-jre-sortable="selected_fields">
                            <div class="list-group-item"
                                 data-ng-repeat="item in selected_fields">
                                <span data-ng-bind-html="item.label | unsafe"></span>
                            <span class="badge badge-warning action-link"
                                  data-ng-click="removeSelected(item)"
                                  title="Pulse para eliminar">
                                <span class="glyphicon glyphicon-remove"></span>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        {# Filtrado de resultados #}
        <div class="row">
            <div class="col-md-12">
                <label for="">3. Filtrar los resultados <i>(máximo 3 filtros)</i></label>
                <div class="overlay-wrapper" style="min-height: 100px">
                    <div class="drop-message" data-ng-hide="selected_filters.length > 0">
                        <p style="min-height: 92px; line-height: 92px">Arrastre los campos aquí </p>
                    </div>
                    <div class="list-group"
                         data-ng-class="{'bordered': selected_filters.length > 0}"
                         data-jre-droppable="selected_filters"
                         data-max-items="3"
                         style="min-height: 100px">
                        <div class="list-group" data-ng-repeat="(key, item) in selected_filters">
                            <form class="form-inline">
                                {% verbatim %}
                                <label class="sr-only" for="filter_field_{{ key }}">Campo</label>
                                <span class="form-control-static"
                                   data-ng-bind-html="item.label | unsafe"></span>
                                <label class="sr-only" for="filter_comp_{{ key }}">Comparador</label>
                                <select id="filter_comp_{{ key }}"
                                        data-ng-model="item.comp"
                                        data-ng-options="item.label for item in available_comps">
                                </select>
                                <label class="sr-only" for="filter_value_{{ key }}">Valor</label>
                                <select id="filter_value_{{ key }}"
                                        style="max-width: 250px"
                                        data-ng-hide="item.free"
                                        data-ng-model="item.value">
                                    <option data-ng-repeat="option in getValuesFor(item.fullName)"
                                            value="{{ option }}">{{ option }}</option>
                                </select>
                                <input type="text"
                                       id="filter_value_{{ key }}"
                                       data-ng-model="item.value"
                                       data-ng-show="item.free"/>

                                <span class="badge badge-warning action-link pull-right"
                                      data-ng-click="removeFilter(item)"
                                      title="Pulse para eliminar">
                                <span class="glyphicon glyphicon-remove"></span>
                            </span>
                                <span class="badge action-link pull-right"
                                      data-ng-class="{ 'badge-info': item.free == true }"
                                      data-ng-click="item.free = !item.free; item.value = null"
                                      title="Marque para ingresar un valor personalizado">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </span>
                                {% endverbatim %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        {# Seleccion de tipo de grafica/Acciones #}
        <div class="row">
            <div class="col-md-6">
                <label for="">4. Opciones</label>
                <br/>
                <label for="chart-selecter">Escoja el tipo de gráfica</label>
                <select id="chart-selecter"
                        data-ng-model="selected_chart"
                        data-ng-options="item.label for item in available_charts">
                    <option value="">Seleccione una gráfica</option>
                </select>
                <br/>
                <div class="form-inline">
                    <div class="checkbox">
                        <label for="option_ranged" title="Solo aplica para valores numéricos">
                            <input type="checkbox"
                                   id="option_ranged"
                                    data-ng-model="selected_options.ranged"/>
                            Valores agrupados en rangos
                        </label>
                    </div>

                    <label for="option_ranged_groups"
                           data-ng-show="selected_options.ranged">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        N° rangos
                    </label>
                    <input type="number"
                           data-ng-show="selected_options.ranged"
                           id="option_ranged_groups"
                           title="Cantidad de rangos"
                           data-ng-model="selected_options.ranged_groups"
                           style="max-width: 80px"
                           class="input-sm"/>
                </div>
            </div>
            <div class="col-md-6">
                {% verbatim %}
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-primary"
                                data-ng-click="generateChart()">Generar resultados</button>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-default"
                           href="{{ image_base64_url }}"
                           data-ng-show="image_base64_url"
                           download="image.png">Descargar imagen</a>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6">
                        <a class="btn btn-success"
                           data-ng-show="excel_base64_url"
                           download="resultado.xlsx"
                           href="{{ excel_base64_url }}">
                            Descargar .XLSX
                        </a>
                    </div>
                </div>
                {% endverbatim %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="chart-result" data-jr-max-width style="height: 500px"></div>
                <div id="chart-table"></div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extrascripts %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="http://requirejs.org/docs/release/1.0.1/minified/require.js"></script>
    <script>
        google.load("visualization", "1", {packages:["corechart", "table"]});
    </script>

    {% javascripts
        '@SiiaBundle/Resources/public/libs/file-saver/FileSaver.js'
        '@SiiaBundle/Resources/public/libs/jquery.ui/ui/jquery.ui.core.js'
        '@SiiaBundle/Resources/public/libs/jquery.ui/ui/jquery.ui.widget.js'
        '@SiiaBundle/Resources/public/libs/jquery.ui/ui/jquery.ui.mouse.js'
        '@SiiaBundle/Resources/public/libs/jquery.ui/ui/jquery.ui.position.js'
        '@SiiaBundle/Resources/public/libs/jquery.ui/ui/jquery.ui.draggable.js'
        '@SiiaBundle/Resources/public/libs/jquery.ui/ui/jquery.ui.droppable.js'
        '@SiiaBundle/Resources/public/libs/jquery.ui/ui/jquery.ui.sortable.js'
        '@SiiaBundle/Resources/public/libs/angular/angular.js'
        '@SiiaBundle/Resources/public/nb-libs/excel-builder.js/dist/excel-builder.dist.js'
        '@SiiaBundle/Resources/public/js/generator.app.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block extrasheets %}
    {% stylesheets
        '@SiiaBundle/Resources/public/scss/generator_rev2.scss' %}
    <link rel="stylesheet" href="{{asset_url}}">
    {% endstylesheets %}
{% endblock %}

