{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">Estructura general de la población</h1>
    <section class="block">
        <div class="pure-g-r">
            <div id="pie" style="height: 400px;" class="pure-u-1-2"></div>
            <div id="bar" style="height: 400px;" class="pure-u-1-2"></div>
        </div>
    </section>
{% endblock %}

{% block extrascripts %}
{% javascripts
    '@SiiaBundle/Resources/public/libs/flot/jquery.flot.js'
    '@SiiaBundle/Resources/public/libs/flot/jquery.flot.pie.js'
    '@SiiaBundle/Resources/public/libs/flot/jquery.flot.categories.js' %}

    <script src="{{asset_url}}"></script>
{% endjavascripts %}
<script>
    jQuery(function() {
        // Pie
        $.plot($('#pie'), {{pie_genero|json_encode|raw}}, {
            colors: ["#5991C1", "#07942E", "#E9C539"],
            series: {
                pie: {
                    show: true
                },
                label: {
                    show: true,
                    radius: 3/4,
                    background: {
                        opacity: 0.5,
                        color: '#000'
                    }
                }
            },
            legend: {
                show: false
            }
        });

        // Bar
        $.plot("#bar", [ {{bar_genero|json_encode|raw}} ], {
            colors: ["#5991C1", "#07942E", "#E9C539"],
            series: {
                bars: {
                    show: true,
                    barWidth: 0.6,
                    align: "center"
                }
            },
            xaxis: {
                mode: "categories",
                tickLength: 0
            }
        });

    });
</script>
{% endblock %}
