{% block d_form_widget %}
    {% for rule in rules %}
        <div class="rule" data-rule="{{ rule }}"></div>
    {% endfor %}
    {{ form_widget(form) }}
{% endblock d_form_widget %}

{% block d_form_slug_widget %}
    {% spaceless %}
        {% set type = type|default('hidden') %}
        {{ block('form_widget_simple') }}
    {% endspaceless %}
{% endblock d_form_slug_widget %}

{% block d_form_collection_widget %}
    {# No es necesario mostrar nada #}
{% endblock d_form_collection_widget %}

{% block fieldset_row %}
<fieldset {{ block('widget_attributes') }}>
    {{ form_label(form) }}
    {{ form_widget(form) }}
</fieldset>
{% endblock  fieldset_row %}

{% block fieldset_label %}
    <legend>{{ label }}</legend>
{% endblock fieldset_label %}
