{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">{{ 'productivo.unidad_venta.title_list'|trans }}</h1>

    <section class="block">
        {% if entities|length > 0 %}
            <table class="table table-striped table-condensed table-bordered">
                <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>{{ 'title.name'|trans }}</th>
                    <th>{{ 'title.abbr'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><input type="checkbox" id="users_{{loop.index0}}"></td>
                        <td>
                            <a href="{{ path('p_unidad_venta_edit', {id: entity.id}) }}">
                                {{ entity.nombre }}
                            </a>
                        </td>
                        <td>{{ entity.abreviatura }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagerfanta">
                {{ pagerfanta(entities, 'twitter_bootstrap3_translated') }}
            </div>
        {% else %}
            <aside class="message">
                <p>{{ 'productivo.unidad_venta.msg_no_entities'|trans }}</p>
            </aside>
        {% endif %}
    </section>
{% endblock %}
