{% extends 'SiiaBundle::layout.html.twig' %}


{% block content%}
    <h1 class="content-subhead">{{ 'asociacion.dg_empresarial.title'|trans }}</h1>

    {% include 'SiiaBundle:PlanAccion/PlanAccion:result.html.twig' %}
{% endblock %}
