{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">{{ 'asociacion.plan.title_list'|trans }}</h1>

    <section class="block">
        {% if entities|length > 0 %}
            <table class="table table-bordered table-condensed" style="font-size: 85%">
                <thead>
                <tr>
                    <th>{{ 'title.name'|trans }}</th>
                    <th>{{ 'title.asociacion.last_dg_emp'|trans }}</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity|dform_echo('nombre_asociacion') }}</td>
                        <td>{{ entity.diagnosticoEmpresarial.last.fechaDiagnostico|date('d/m/Y') }}</td>
                        <td>
                            <a href="{{ path('plan_accion_generate', {'id': entity.id}) }}">{{ 'Generar plan de acción'|trans }}</a>
                        </td>
                        <td>
                            <a href="{{ path('dofa_principal', {'asociacion': entity.id}) }}">
                                DOFA
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagerfanta">
                {{ pagerfanta(entities, 'twitter_bootstrap3_translated') }}
            </div>
        {% else %}
            <aside class="message">
                <p>{{ 'asociacion.plan.msg_no_entities'|trans }}</p>
            </aside>
        {% endif %}
    </section>
{% endblock %}
