<section class="block">
    <table class="table table-striped">
        <tr>
            <th class="col-md-4">{{ 'title.name'|trans }}</th>
            <td>
                <a href="{{path('asociacion_caracterizacion_show', {'id': entity.id})}}">
                    {{ entity|dform_echo('nombre_asociacion ')}}
                </a>
            </td>
        </tr>
        <tr>
            <th>Fecha diagnóstico empresarial</th>
            <td>{{ entity.diagnosticoEmpresarial.last.fechaDiagnostico|date('d/m/Y') }}</td>
        </tr>
    </table>
</section>
<section class="block">
    <div id="spider" style="width: 100%; min-height: 670px;"></div>
</section>
<section class="block">
    <table class="table table-bordered table-condensed">
        <thead>
        <tr>
            <th>ÁREA EVALUADA</th>
            <th>DIAGNÓSTICO</th>
            <th>%</th>
            <th>NIVEL</th>
            <th>ACCIONES</th>
        </tr>
        </thead>
        <tbody>
        {% for item in plan.elementos %}
            <tr>
                <td>{{ item.aspecto }}</td>
                <td>{{ item.joinedDiagnosticos }}</td>
                <td>{{ item.calificacion|round(0) }}</td>
                <td>{{ item.nivel }}</td>
                <td>{{ item.joinedAcciones }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>

{% javascripts
    '@SiiaBundle/Resources/public/nb-libs/amcharts/amcharts.js'
    '@SiiaBundle/Resources/public/nb-libs/amcharts/radar.js'
    '@SiiaBundle/Resources/public/nb-libs/amcharts/themes/light.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script>
    (function() {
        "use strict";

        window.onload = function () {
            AmCharts.makeChart("spider", {{ options|json_encode|raw }});
            console.log({{ options|json_encode|raw }});
        };
    })();
</script>
