{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">{{ 'asociacion.dg_tecnico.concepto.title_list'|trans }}</h1>

    <section class="block">
        {% if entities|length > 0 %}
            <table class="table table-striped table-condensed table-bordered">
                <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>Concepto</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><input type="checkbox" id="users_{{loop.index0}}"></td>
                        <td>
                            <a href="{{ path('concepto_tecnico_edit', {'id': entity.id}) }}">
                                {{entity.fecha}} {{entity.concepto}}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <aside class="message">
                <p>{{ 'plan.accion.msg_no_entities'|trans }}</p>
            </aside>
        {% endif %}
    </section>
{% endblock %}
