<table class="table table-striped table-condensed table-bordered">
    <thead>
    <tr>
        <th>Producto</th>
        <th>Volumen producido</th>
        <th>Volumen vendido</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td>{{ item.producto }}</td>
            <td>{{ item.volumen_produccion }} {{ item.unidad_produccion }}</td>
            <td>{{ item.volumen_venta }} {{ item.unidad_venta }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
