{% extends 'SiiaBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript'>
        function loadLocation(type){
            if(type == 'departamento'){
                $('#filtro-municipio').val(null);
                $('#filtro-vereda').val(null);
            }
            if(type == 'municipio'){
                $('#filtro-vereda').val(null);
            }
            document.getElementById("filtros").submit();
        }
    </script>
{% endblock %}

{% block content %}
    <h1 class="content-subhead">{{ 'consolidado.productivo.general.title'|trans }}</h1>
    <form id="filtros" action="{{ path('consolidado_general') }}" method="get" class="form-inline no-print" role="form">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Filtros de asociación</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="sr-only" for="filtro-asociacion">Asociación</label>
                    <select id="filtro-asociacion" name="asociacion" class="form-control">
                        <option value="">{{ 'consolidado.productivo.general.filter_asociacion'|trans }}</option>
                        {% for a in asociaciones %}
                            <option value="{{ a.id }}" {% if a.id == selAsociacion %}selected{% endif %}>{{ a.sigla }}</option>
                        {% endfor %}
                    </select>
                </div>
                <br/>

                <div class="form-group">
                    <label class="sr-only" for="filtro-departamento">Departamento</label>
                    <select id="filtro-departamento" name="departamento" class="form-control" onchange="loadLocation('departamento')">
                        <option value="">{{ 'consolidado.productivo.general.filter_departamento'|trans }}</option>
                        {% for dep in departamentos %}
                            <option value="{{ dep.departamento }}" {% if dep.departamento == selDepartamento %}selected{% endif %}>{{ dep.departamento }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label class="sr-only" for="filtro-municipio">Municipios</label>
                    <select id="filtro-municipio" name="municipio" class="form-control" onchange="loadLocation('municipio')">
                        <option value="">{{ 'consolidado.productivo.general.filter_municipio'|trans }}</option>
                        {% for mun in municipios %}
                            <option value="{{ mun.municipio }}" {% if mun.municipio == selMunicipio %}selected{% endif %}>{{ mun.municipio }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label class="sr-only" for="filtro-vereda">Veredas</label>
                    <select id="filtro-vereda" name="vereda" class="form-control" onchange="loadLocation('centroPoblado')">
                        <option value="">{{ 'consolidado.productivo.general.filter_vereda'|trans }}</option>
                        {% for ver in veredas %}
                            <option value="{{ ver.centroPoblado }}" {% if ver.centroPoblado == selVereda %}selected{% endif %}>{{ ver.centroPoblado }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'consolidado.productivo.general.filter_prod'|trans }}</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="sr-only" for="filtro-tipo-producto">{{ 'consolidado.productivo.general.filter_prod'|trans }}</label>
                    <select id="filtro-tipo-producto" name="tipop" class="form-control">
                        <option value="">{{ 'consolidado.productivo.general.filter_tipo_producto'|trans }}</option>
                        <option value="agricola" {% if 'agricola' == selTipoProducto %}selected{% endif %}>Agrícola</option>
                        <option value="pecuario" {% if 'pecuario' == selTipoProducto %}selected{% endif %}>Pecuario</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="sr-only" for="filtro-productos">{{ 'consolidado.productivo.general.filter_prod'|trans }}</label>
                    <select id="filtro-productos" name="producto" class="form-control">
                        <option value="">{{ 'consolidado.productivo.general.filter_producto'|trans }}</option>
                        {% for p in productos %}
                            <option value="{{ p.id }}" {% if p.id == selProducto %}selected{% endif %}>{{ p.nombreProducto}} {{p.variedadProducto}}</option>
                        {% endfor %}
                    </select>
                </div>
                <br/>

                <div class="form-group">
                    <label class="sr-only" for="filtro-fecha-ini">{{ 'consolidado.productivo.general.filter_fech_ini'|trans }}</label>
                    <input type="text" id="filtro-fecha-ini" class="field-fecha_encuesta fieldset-informacion_general datepicker"
                           data-provide="datepicker" data-date-format="yyyy-mm-dd" value="{{ selfechaini }}" name="fechaini">
                </div>
                {{ 'consolidado.productivo.general.filter_to_date'|trans }}
                <div class="form-group">
                    <label class="sr-only" for="filtro-fecha-fin">{{ 'consolidado.productivo.general.filter_fech_ini'|trans }}</label>
                    <input type="text" id="filtro-fecha-fin" class="field-fecha_encuesta fieldset-informacion_general datepicker"
                           data-provide="datepicker" data-date-format="yyyy-mm-dd" value="{{ selfechafin }}" name="fechafin">
                </div>
            </div>
            <div class="panel-footer">
                <button type="submit" class="btn btn-default">{{ 'consolidado.productivo.general.button_filtrar'|trans }}</button>
            </div>
        </div>
    </form>
    <br/>
    <section class="block">
        {% if views|length > 0 %}
            <table class="table table-striped table-condensed table-bordered">
                <thead>
                    <tr>
                        {% if selProducto %}
                            <th>{{ 'consolidado.productivo.general.th_asociacion'|trans }}</th>
                        {% endif %}
                        <th>{{ 'consolidado.productivo.general.th_localizacion'|trans }}</th>
                        <th>{{ 'consolidado.productivo.general.th_producto'|trans }}</th>
                        <th>{{ 'consolidado.productivo.general.th_tipo'|trans }}</th>
                        <th>{{ 'consolidado.productivo.general.th_producido'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for pgview in views %}
                    <tr>
                        {% if selProducto %}
                            <td>{{ pgview.nombreAsociacion }}</td>
                        {% endif %}
                        <td>
                            {%  if pgview.localizacionAsociacion %}
                                <a href="{{ path('consolidado_general', {'departamento': pgview.departamentoAsociacion}) }}">
                                    {{ pgview.departamentoAsociacion }}
                                </a>
                                <a href="{{ path('consolidado_general', {'municipio': pgview.municipioAsociacion}) }}">
                                    {{ pgview.municipioAsociacion }}
                                </a>
                                <a href="{{ path('consolidado_general', {'vereda': pgview.centroPobladoAsociacion}) }}">
                                    {{ pgview.centroPobladoAsociacion }}
                                </a>
                            {% else %}
                                {{ 'consolidado.productivo.general.not_defined'|trans }}
                            {% endif %}
                        </td>
                        <td>
                            {%  if pgview.nombreProducto %}
                                <a href="{{ path('consolidado_general', {'producto': pgview.idProducto}) }}">
                                    {{ pgview.nombreProducto }}
                                </a>
                            {% else %}
                                {{ 'consolidado.productivo.general.not_defined'|trans }}
                            {% endif %}
                        </td>
                        <td>{{ pgview.tipoProducto }}</td>
                        <td>{{ pgview.volumenProducido ? pgview.volumenProducido : '0' }} {{ pgview.unidadProduccion }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <aside class="message">
                <p>{{ 'consolidado.productivo.general.msg_no_entities'|trans }}</p>
            </aside>
        {% endif %}
    </section>
{% endblock %}
