{% block collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': block('collection_item_widget') , 'class': 'list list-unstyled'}) %}
        {% endif %}

        <div class="col-md-7">
            <ul {{ block('widget_container_attributes') }}>
                {% for prototype in form %}
                    {{ block('collection_item_widget') }}
                {% endfor %}
            </ul>
        </div>
    {% endspaceless %}
{% endblock collection_widget %}

{% block collection_item_widget %}
    {% spaceless %}
        <li>
            <div class="row">
                <div class="col-md-10">
                    {{ form_widget(prototype.descripcion) }}
                    {{ form_rest(prototype) }}
                </div>
                <div class="col-md-2">
                    <a href="#" class="remove">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
        </li>
    {% endspaceless %}
{% endblock collection_item_widget %}
