{% form_theme form 'SiiaBundle:PlanAccion/DOFAActividad:collection_widget.html.twig' %}

<section class="block">
    {{ form_start(form) }}
    {{ form_row(form.componente) }}
    {{ form_row(form.accion) }}
    {{ form_row(form.actividad) }}
    <hr/>
    <div class="row">
        <div class="col-md-6 collection" data-limit="1">
            {{ form_row(form.debilidades) }}
        </div>
        <div class="col-md-6 collection">
            {{ form_row(form.oportunidades) }}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6 collection">
            {{ form_row(form.fortalezas) }}
        </div>
        <div class="col-md-6 collection">
            {{ form_row(form.amenazas) }}
        </div>
    </div>
    <hr/>
    {{ form_rest(form) }}
    {{ form_end(form) }}
</section>
