{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">{{ 'plan.dofa.actividad.title_list'|trans }}</h1>

    <section class="block">
        {% if entities|length > 0 %}
            <table class="table table-striped table-condensed table-bordered">
                <thead>
                <tr>
                    <th>{{ 'title.componente'|trans }}</th>
                    <th>{{ 'title.action'|trans }}</th>
                    <th>{{ 'title.descripcion'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.componente }}</td>
                        <td>{{ entity.accion }}</td>
                        <td>
                            <a href=" {{ path('plan-accion_dofa_actividad_edit', {'id':entity.id}) }}">
                                {% if entity.actividad is not null %}
                                    {{entity.actividad.descripcion}}
                                {% else %}
                                    {{ entity.id }}
                                {% endif %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagerfanta">
                {{ pagerfanta(entities, 'twitter_bootstrap3_translated') }}
            </div>
        {% else %}
            <aside class="message">
                <p>{{ 'plan.dofa.actividad.msg_no_entities'|trans }}</p>
            </aside>
        {% endif %}
    </section>
{% endblock %}
