{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">{{ 'plan.dofa.actividad.title_new'|trans }}</h1>

    {% include 'SiiaBundle:PlanAccion/DOFAActividad:form.html.twig' %}
{% endblock %}

{% block extrasheets %}

    {% stylesheets
    '@SiiaBundle/Resources/public/libs/select2/select2.css'
    '@SiiaBundle/Resources/public/libs/select2-bootstrap3-css/select2-bootstrap.css'
    %}
    <link rel="stylesheet" href="{{asset_url}}">
    {% endstylesheets %}

{% endblock %}

{% block extrascripts %}
    {% javascripts
    '@SiiaBundle/Resources/public/libs/select2/select2.js'
    '@SiiaBundle/Resources/public/js/pa_dofa_actividad.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
