{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">
        Actualiza mes de producción
    </h1>
    
    <section class="block">
        {{ form(edit_form) }}
    </section>
{% endblock %}
