{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
<h1 class="content-subhead">{{ 'asociacion.dg_productivo.produccion.title_list'|trans }}</h1>

<section class="block">
    {% if entities|length > 0 %}
    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th><input type="checkbox"></th>
                <th>{{ 'asociacion.dg_productivo.produccion.producto'|trans }}</th>
                <th>{{ 'asociacion.dg_productivo.produccion.mes'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for mes_produccion in entities %}
                <tr>
                    <td><input type="checkbox" id="users_{{loop.index0}}"></td>
                    <td>{{ related_entity.producto }}</td>
                    <td>
                        <a href=" {{ path('diagnostico_productivo_produccion_edit', {'id': mes_produccion.id, 'producto': related_entity.id }) }}">
                            {{ mes_produccion.mes }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagerfanta">
        {{ pagerfanta(entities, 'twitter_bootstrap3_translated') }}
    </div>
    {% else %}
    <aside class="message">
        <p>{{ 'asociacion.dg_productivo.produccion.msg_no_entities'|trans }}</p>
    </aside>
    {% endif %}
</section>
{% endblock %}
