{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">
        Nuevo mes de producción
    </h1>
    <section class="block">
        {{ form(form) }}
    </section>
{% endblock %}
