{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">{{ 'plan.dofa.title_list'|trans }}</h1>

    <section class="block">
        {% if entities|length > 0 %}
            <table class="table table-striped table-condensed table-bordered">
                <thead>
                <tr>
                    <th></th>
                    <th>Debilidad</th>
                    <th>Area</th>
                    <th>Nivel</th>
                    <th>Descripción de la actividad</th>
                    <th>{{ 'title.componente'|trans }}</th>
                    <th>{{ 'title.created'|trans }}</th>
                    <th>{{ 'title.completed'|trans }}</th>
                    <th>{{ 'title.status'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td> {{ (page -1) * limit + loop.index }}</td>
                        <td>{{ entity.actividad.debilidades.first }}</td>
                        {% if entity.actividad.accion %}
                        <td>{{ entity.actividad.accion.aspecto }}</td>
                        <td>{{ entity.actividad.accion.nivel }}</td>
                        {% else %}
                            <td colspan="2">
                            {% if is_granted('ROLE_ADMIN') %}
                                Esta actividad DOFA no cuenta con una acción determinada, por favor
                                <a href="{{ path('plan-accion_dofa_actividad_edit', {id: entity.actividad.id}) }}">Actualize esta actividad</a>
                            {% else %}
                                Solicitele a su admin actualizar esta actividad.
                            {% endif %}
                            </td>
                        {% endif %}

                        <td>
                            {% if  entity.actividad.actividad is not null %}
                                {% set actividad = entity.actividad.actividad.descripcion %}
                            {% else %}
                                {% set actividad = entity.id %}
                            {% endif %}
                            {% if not app.user.hasRole('ROLE_SUPERVISOR') %}
                                <a href="{{ path('dofa_principal_edit', {'id': entity.id}) }}">
                                    {{ actividad }}
                                </a>
                            {% else %}
                                {{ actividad }}
                            {% endif %}
                        </td>
                        <td>{{ entity.actividad.componente }}</td>
                        <td>{{ entity.create|date('d M Y') }}</td>
                        <td style="text-align: center">
                            {% if entity.completedAt %}
                                {{ entity.completedAt|date('d M Y') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {% if entity.isComplete %}
                                <span class="text-success"><i class="fa fa-check-circle-o"></i> Completada</span>

                            {% else %}
                                <span class="text-danger"><i class="fa fa-dot-circle-o"></i> Pendiente</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagerfanta">
                {{ pagerfanta(entities, 'twitter_bootstrap3_translated') }}
            </div>
        {% else %}
            <aside class="message">
                <p>{{ 'plan.dofa.msg_no_entities'|trans }}</p>
            </aside>
        {% endif %}
    </section>
{% endblock %}
