{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">{{ 'plan.dofa.title_new'|trans }}</h1>

    {% include 'SiiaBundle:PlanAccion/DOFA:selector.html.twig' %}

    <section class="block">
        {{ form(form) }}
    </section>
{% endblock %}

{% block extrasheets %}
    {% stylesheets
        '@SiiaBundle/Resources/public/libs/select2/select2.css'
        '@SiiaBundle/Resources/public/libs/select2-bootstrap3-css/select2-bootstrap.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block extrascripts %}

    {% verbatim %}
    <script id="tmpl-actividad-select" type="text/x-handlebars-template">
        <p>{{accion.nivel.name}} - {{actividad.descripcion}}</p>
    </script>
    <script id="tmpl-actividad" type="text/x-handlebars-template">
        <table>
            <tbody>
            <tr>
                <th>Componente: </th>
                <td>{{componente.nombre}}</td>
            </tr>
            <tr>
                <th>Nivel: </th>
                <td>{{accion.nivel.name}}</td>
            </tr>
            <tr>
                <th>Descripción: </th>
                <td>{{actividad.descripcion}}</td>
            </tr>
            </tbody>
        </table>
    </script>

    <script id="tmpl-debilidades" type="text/x-handlebars-template">
        <option value="">Seleccione debilidad</option>
        {{#each results}}
        <option title="{{descripcion}}" value="{{id}}">[{{id}}] {{descripcion}}</option>
        {{/each}}
    </script>
    {% endverbatim %}

    {% javascripts
        '@SiiaBundle/Resources/public/libs/select2/select2.js'
        '@SiiaBundle/Resources/public/js/pa_dofa.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
