<div class="block">
    <label for="debilidades-selector">Debilidades encontradas en la asociacion</label>
    <select id="debilidades-selector"
            data-url="{{ path('dofa_debilidades_asociacion') }}"
            data-activity-url="{{ path('dofa_optain_actividades') }}">
        <option value="">Seleccione debilidad</option>
    </select>
</div>
