{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">Resumen de asociado</h1>
    {% if app.debug %}
        <a href="{{ path('dform_api_get_trans', {'uuid': entity.slug}) }}">
            SLUG
        </a>
    {% endif %}

    {% include 'DFormBundle:Helper:_section.html.twig' with {'info': entity} %}


    {% if entity.perfil|length > 0 %}
        {% include 'DFormBundle:Helper:_section.html.twig' with {'info': entity.perfil.last} %}
    {% else %}
    {% endif %}

    <section class="block">
        <h3>Consolidado productivo</h3>
        {{ render(controller('SiiaBundle:Productivo/ConsolidadoProductivo:asociado', {'id': entity.id})) }}
    </section>

{% endblock %}
