{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">{{'asesor.title_edit'|trans}}</h1>
    <section class="block">
        {{ form(edit_form) }}
    </section>
{% endblock %}

{% block extrascripts %}
    <script>
        $(function() {
            $('option').mousedown(function(e) {
                e.preventDefault();
                $(this).prop('selected', !$(this).prop('selected'));
                return false;
            });
        });
    </script>
{% endblock %}
