{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
<h1 class="content-subhead">{{ 'asesor.title'|trans }}</h1>

    <section class="block">
        <table class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>

                    <th>{{ 'asesor.name'|trans }}</th>
                    <th>{{ 'asesor.operator'|trans }}</th>
                    <th>{{ 'asesor.document'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>
                        <a href="{{ path('asesor_edit', { 'id': entity.id }) }}">
                            {{ entity.nombre }} {{ entity.apellidos }}
                        </a>
                    </td>
                    <td>{{ entity.operador }}</td>
                    <td>{{ entity.documentoIdentidad }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagerfanta">
            {{ pagerfanta(entities, 'twitter_bootstrap3_translated') }}
        </div>
    </section>
{% endblock %}
