{% if diagnostico.caudales|length > 0 %}
<section class="block">
    <table class="table table-striped">
        <thead>Caudales de periodo de estiaje</thead>
        <tbody>
            <tr>
                <th>Volumen</th>
                <th>Fecha</th>
            </tr>
            {% for caudal in diagnostico.caudales %}
                <tr>
                    <td>{{ caudal.caudal }}</td>
                    <td>{{ caudal.fecha|date('d-m-Y') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endif %}