{% extends 'SiiaBundle::layout.html.twig' %}

{%  form_theme edit_form.caudales '@Siia/Asociacion/DiagnosticoTecnico/caudales_widget.html.twig' %}
{%  form_theme edit_form.miembros '@Siia/Asociacion/DiagnosticoTecnico/miembros_widget.html.twig' %}
{%  form_theme edit_form.planos '@Siia/Asociacion/DiagnosticoTecnico/planos_widget.html.twig' %}


{% block content %}
    <h1 class="content-subhead">
        {{'asociacion.dg_tecnico.title_edit'|trans({'%asociacion%': related_entity.nombre})}}
    </h1>
    {% if app.debug %}
        <a href="{{ path('dform_api_get_trans', {'uuid': entity.slug}) }}">
            SLUG
        </a>
    {% endif %}

    {% include 'SiiaBundle::_note.html.twig' %}

    <section class="block">
        {{ form_start(edit_form) }}
            {{ form_errors(edit_form) }}
            {{ form_row(edit_form.dform) }}
        {{ form_end(edit_form) }}
    </section>
{% endblock %}

{% block extrascripts %}

    {% javascripts '@SiiaBundle/Resources/public/js/dg_tecnico.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
