{% if diagnostico.miembros|length > 0 %}
<section class="block">
    <table class="table table-striped">
        <thead>Miembros del comité</thead>
        <tbody>
        <tr>
            <th>Cargo</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Correo electrónico</th>
            <th>Documento</th>
            <th>Nivel de estudios</th>
        </tr>
        {% for miembro in diagnostico.miembros %}
            <tr>
                <td>{{ miembro.cargo }}</td>
                <td>{{ miembro.nombre }}</td>
                <td>{{ miembro.telefono }}</td>
                <td>{{ miembro.email }}</td>
                <td>{{ miembro.documento }}</td>
                <td>{{ miembro.nivelEducativo }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
{% endif %}