{% extends 'SiiaBundle::layout.html.twig' %}

{%  form_theme form.caudales '@Siia/Asociacion/DiagnosticoTecnico/caudales_widget.html.twig' %}
{%  form_theme form.miembros '@Siia/Asociacion/DiagnosticoTecnico/miembros_widget.html.twig' %}
{%  form_theme form.planos '@Siia/Asociacion/DiagnosticoTecnico/planos_widget.html.twig' %}

{% block content %}
    <h1 class="content-subhead">
        {{'asociacion.dg_tecnico.title_new'|trans({'%asociacion%': related_entity.nombre})}}
    </h1>

    {% include 'SiiaBundle::_note.html.twig' %}

    <section class="block">
        {{ form(form) }}
    </section>

{% endblock %}

{% block extrascripts %}

    {% javascripts '@SiiaBundle/Resources/public/js/dg_tecnico.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
