{% block collection_item_widget %}
    {% spaceless %}
        <tr>
            <td>{{ form_widget(prototype.numero, {'attr':{'class':'form-control'}}) }}</td>
            <td>{{ form_widget(prototype.contenido, {'attr':{'class':'form-control'}}) }}</td>
            <td>
                {{ form_rest(prototype) }}
                <a class="remove-link btn btn-danger" href="javascript:void(0)"><i class="fa fa-times"></i></a>
            </td>
        </tr>
    {% endspaceless %}
{% endblock collection_item_widget %}

{% block collection_widget %}
    <table class="table table-striped table-condensed table-bordered">
        <thead>
        <tr>
            <th>Número</th>
            <th>Contenido</th>
            <th></th>
        </tr>
        </thead>
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': block('collection_item_widget') }) %}
        {% endif %}
        <tbody {{ block('widget_container_attributes') }}>
        {{ form_errors(form) }}
        {% for prototype in form %}
            {{ block('collection_item_widget') }}
        {% endfor %}
        {{ form_rest(form) }}
        <tr>
            <td colspan="7">
                <div class="input-group">
                    <span class="input-group-btn">
                        <a class="add-link btn btn-default" onclick="javascript:void(0)">Agregar nuevo</a>
                    </span>

                </div>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock collection_widget %}

