{% if diagnostico.planos|length > 0 %}
<section class="block">
    <table class="table table-striped">
        <thead>Planos</thead>
        <tbody>
            <tr>
                <th>Número</th>
                <th>Contenido</th>
            </tr>
            {% for plano in diagnostico.planos %}
                <tr>
                    <td>{{ plano.numero }}</td>
                    <td>{{ plano.contenido }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endif %}