{% block collection_widget %}
{% spaceless %}
<h3>Fechas de siembra por mes</h3>
<table class="table table-bordered table-condensed" style="font-size: 80%">
    <thead>
    <tr>
        <th>Mes</th>
        <th>Año</th>
        <th>Área sembrada (hm <sup>2</sup>)</th>
        <th>Volumen producción </th>
        <th>Unidad producto </th>
        <th>Volumen vendido </th>
        <th>Unidad venta </th>
        <th>Valor máximo por unidad</th>
        <th></th>
    </tr>
    </thead>
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': block('collection_item_widget') }) %}
    {% endif %}
    <tbody {{ block('widget_container_attributes') }}>
    {{ form_errors(form) }}
        {% for prototype in form %}
            {{ block('collection_item_widget') }}
        {% endfor %}
        {{ form_rest(form) }}
        {% set meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'] %}
        <tr>
            <td colspan="7">
                <label for="">Agregar un mes de producción</label>
                <div class="input-group">
                    <select class="mes-selector form-control">
                        <option value="">Selecciona el mes</option>
                        {% for mes in meses %}
                            <option value="{{ mes }}">{{ mes }}</option>
                        {% endfor %}
                    </select>
                    <span class="input-group-btn">
                        <a class="add-link btn btn-default" onclick="javascript:void(0)">Agregar mes</a>
                    </span>

                </div>
            </td>
        </tr>
    </tbody>
</table>
{% endspaceless %}
{% endblock collection_widget %}

{% block collection_item_widget %}
    {% spaceless %}
    <tr>
        <td>{{ form_widget(prototype.mes, {'attr':{'class':'form-control'}}) }}</td>
        <td>
            {{ form_widget(prototype.anio.year, {'attr':{'class':'form-control'}}) }}
            <div style="display: none">
                {{ form_widget(prototype.anio.month) }}
                {{ form_widget(prototype.anio.day) }}
            </div>
        </td>
        <td>{{ form_widget(prototype.dform.area_sembrada, {'attr':{'class':'form-control'}}) }}</td>
        <td>{{ form_widget(prototype.dform.volumen_produccion, {'attr':{'class':'form-control'}}) }}</td>
        <td>{{ form_widget(prototype.dform.unidad_produccion, {'attr':{'class':'form-control'}}) }}</td>
        <td>{{ form_widget(prototype.dform.volumen_vendido, {'attr':{'class':'form-control'}}) }}</td>
        <td>{{ form_widget(prototype.dform.unidad_venta, {'attr':{'class':'form-control'}}) }}</td>
        <td>{{ form_widget(prototype.dform.valor_unitario_maximo, {'attr':{'class':'form-control'}}) }}</td>
        <td>
            {{ form_rest(prototype) }}
            <a class="remove-link btn btn-danger" href="javascript:void(0)"><i class="fa fa-times"></i></a>
        </td>
    </tr>
    {% endspaceless %}
{% endblock collection_item_widget %}
