{% extends 'SiiaBundle::layout.html.twig' %}

{% form_theme edit_form 'SiiaBundle:Asociacion/DiagnosticoProductivoCostos:collection_widget.html.twig' %}

{% block content %}
    <h1 class="content-subhead">
        Actualiza información de producto
    </h1>
    
    <section class="block">
        {{ form(edit_form) }}
    </section>
{% endblock %}

{% block extrascripts %}
    {% javascripts '@SiiaBundle/Resources/public/js/dg_productivo_costos.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
