{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
<h1 class="content-subhead">{{ 'asociacion.dg_productivo.costo.title_list'|trans }}</h1>

<section class="block">
    {% if entities|length > 0 %}
    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th><input type="checkbox"></th>
                <th>{{ 'asociacion.dg_productivo.costo.producto'|trans }}</th>
                <th>{{ 'asociacion.dg_productivo.costo.variedad'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in entities %}
                <tr>
                    <td><input type="checkbox" id="users_{{loop.index0}}"></td>
                    <td>
                        <a href=" {{ path('diagnostico_productivo_costo_edit', {'id': producto.id, 'diagnosticoProductivo': related_entity.id }) }}">
                            {{ producto.producto }}
                        </a>
                    </td>
                    <td>
                        <a href=" {{ path('diagnostico_productivo_costo_edit', {'id': producto.id, 'diagnosticoProductivo': related_entity.id }) }}">
                            {{ producto.variedad }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagerfanta">
        {{ pagerfanta(entities, 'twitter_bootstrap3_translated') }}
    </div>
    {% else %}
    <aside class="message">
        <p>{{ 'asociacion.dg_productivo.costo.msg_no_entities'|trans }}</p>
    </aside>
    {% endif %}
</section>
{% endblock %}
