{% extends 'SiiaBundle::layout.html.twig' %}

{% form_theme form 'SiiaBundle:Asociacion/DiagnosticoProductivoCostos:collection_widget.html.twig' %}

{% block content %}
    <h1 class="content-subhead">
        Nuevo producto
    </h1>
    <section class="block">
        {{ form(form) }}
    </section>
{% endblock %}

{% block extrascripts %}
    {% javascripts '@SiiaBundle/Resources/public/js/dg_productivo_costos.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
