{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">{{ 'plan.aspect.title_edit'|trans({'%name%': entity.name}) }}</h1>

    <section class="block">
        {{ form(edit_form) }}
    </section>
{% endblock %}
