{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">Mover asociación</h1>

    <section class="block">
        <table class="table">
            <tr>
                <th>Asociacion</th>
                <td>{{ entity.asociacion }}</td>
            </tr>
            <tr>
                <th>Asignada a</th>
                <td>
                    <ul>
                    {% for asesor in entity.asociacion.asesores  %}
                        <li>{{ asesor }}</li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="alert alert-danger">
                        <strong>Recuerde!</strong> Cuando mueve la asociación a otro operador, esta pierde todas las
                        asignaciones que el anterior operador realizo.
                    </div>
                </td>
            </tr>
        </table>
    </section>

    <section class="block">
        {{ form(form) }}
    </section>
{% endblock %}