{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">{{ 'productivo.producto.title_list'|trans }}</h1>

    <section class="block">
        {% if entities|length > 0 %}
            <table class="table table-striped table-condensed table-bordered">
                <thead>
                <tr>
                    <th>{{ 'title.type'|trans }}</th>
                    <th>{{ 'title.name'|trans }}</th>
                    <th>{{ 'title.variedad'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in custom_entities %}
                    <tr>
                        <td style="text-transform: capitalize">{{ entity.tipo }}
                            {% if entity.tipoCultivo %}
                                ({{ entity.tipoCultivo }})
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('p_producto_edit', {id: entity.id}) }}">
                                {{ entity.nombreProducto }}
                            </a>
                        </td>
                        <td>{{ entity.variedadProducto }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagerfanta">
                {{ pagerfanta(entities, 'twitter_bootstrap3_translated') }}
            </div>
        {% else %}
            <aside class="message">
                <p>{{ 'productivo.producto.msg_no_entities'|trans }}</p>
            </aside>
        {% endif %}
    </section>
{% endblock %}
