{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">{{ 'productivo.producto.title_new'|trans }}</h1>

    <section class="block">
        {{ form(form) }}
    </section>
{% endblock %}
