{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

    <div class="row">
        <div class="col-md-12">
            <h2>Iniciar sesion</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form action="{{ path("fos_user_security_check") }}" method="post" class="form">

                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <div class="input-group">
                    <label for="username" class="control-label">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                </div>

                <div class="input-group">
                    <label for="password" class="control-label">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                    <input class="form-control" type="password" id="password" name="_password" required="required" />
                </div>

                <div class="checkbox">
                    <label for="remember_me">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                    </label>
                </div>

                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"  class="btn btn-primary" />
            </form>
        </div>
    </div>
{% endblock fos_user_content %}
