{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">{{ 'plan.plan.title_edit'|trans }}</h1>

    <section class="block">
        {{ form_start(edit_form) }}
        {{ form_errors(edit_form) }}

        {{ form_row(edit_form.afirmacion) }}
        {{ form_label(edit_form.opciones) }}
        <table class="pure-table pure-table-horizontal">
            <thead>
            <tr>
                <th>{{ 'title.option'|trans }}</th>
                <th>{{ 'title.value'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for opcion in edit_form.opciones %}
                <tr>
                    <td>{{ form_widget(opcion.opcion) }}</td>
                    <td>{{ form_widget(opcion.valor) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ form_row(edit_form.submit) }}
        {{ form_end(edit_form) }}
    </section>
{% endblock %}
