{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">{{ 'plan.plan.title_list'|trans }}</h1>

    <section class="block">
        {% if entities|length > 0 %}
            <table class="pure-table pure-table-siia pure-table-horizontal" style="font-size: 85%">
                <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>{{ 'title.aspect'|trans }}</th>
                    <th>{{ 'title.afirmation'|trans }}</th>
                    {% for item in opciones %}
                        <th>{{ item.name }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><input type="checkbox" id="users_{{loop.index0}}"></td>
                        <td>{{ entity.aspecto }}</td>
                        <td>
                            <a href="{{ path('plan-accion_edit', {'id': entity.id}) }}">
                                {{entity.description}}
                            </a>
                        </td>
                        {% for o in opciones %}
                            {# TODO: Encontrar una forma mas optima de hacer esto #}
                            <td>{{ entity.opcion|find(o.id, 'opcion.id') }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagerfanta">
                {{ pagerfanta(entities, 'twitter_bootstrap3_translated') }}
            </div>
        {% else %}
            <aside class="message">
                <p>{{ 'plan.plan.msg_no_entities'|trans }}</p>
            </aside>
        {% endif %}
    </section>
{% endblock %}
