{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">{{ 'plan.plan.title_new'|trans }}</h1>

    <section class="block">
        {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.afirmacion) }}
            {{ form_label(form.opciones) }}
            <table class="pure-table pure-table-horizontal">
                <thead>
                <tr>
                    <th>{{ 'title.option'|trans }}</th>
                    <th>{{ 'title.value'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for opcion in form.opciones %}
                    <tr>
                        <td>{{ form_widget(opcion.opcion) }}</td>
                        <td>{{ form_widget(opcion.valor) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ form_row(form.submit) }}
        {{ form_end(form) }}
    </section>
{% endblock %}
