{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}

    <h1 class="content-subhead">
        {{'asociacion.dg_productivo.title_new'|trans({'%asociacion%': related_entity.nombre})}}
    </h1>
    
    <section class="block">
        {{ form(form) }}
    </section>

{% endblock %}
