{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">{{ 'asociado.registro_unico.title_list'|trans({'%asociacion%' : related_entity.sigla}) }}</h1>

    <section class="block">
        {% if entities|length > 0 %}
            <table class="table table-striped table-condensed table-bordered">
                <thead>
                <tr>
                    <th></th>
                    <th>{{ 'title.name'|trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td> {{ (page -1) * limit + loop.index }}</td>
                        <td>
                            <a href="{{ path('registro_unico_edit', {'id': entity.id}) }}">
                                {{entity|dform_echo('nombre_asociado')}} {{ entity|dform_echo('apellidos_asociado') }}
                            </a>
                        </td>
                        <td><a href="{{ path('registro_unico_show', {'id': entity.id}) }}">
                                {{ 'Ver resumen'|trans }}
                        </a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagerfanta">
                {{ pagerfanta(entities, 'twitter_bootstrap3_translated') }}
            </div>
        {% else %}
            <aside class="message">
                <p>{{ 'plan.accion.msg_no_entities'|trans }}</p>
            </aside>
        {% endif %}
    </section>
{% endblock %}
