{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">{{ 'asociado.resumen.title'|trans({'asociado':entity}) }}</h1>
    {% if app.debug %}
        <a href="{{ path('dform_api_get_trans', {'uuid': entity.slug}) }}">
            SLUG
        </a>
    {% endif %}
    {% if entity.updatedAt %} Última actualización el {{ entity.updatedAt|date('d/m/Y') }} {% endif %}

    {% include 'DFormBundle:Helper:_section.html.twig' with {'info': entity} %}


    {% if entity.perfil|length > 0 %}
    <section class="block">
        <h3>Perfil socioeconómico</h3>
        {% set perfil = entity.perfil.last %}
        {% if perfil.updatedAt %} Última actualización el {{ perfil.updatedAt|date('d/m/Y') }} {% endif %}
        {% include 'DFormBundle:Helper:_section.html.twig' with {'info': perfil} %}
    </section>
    {% endif %}

    <section class="block">
        <h3>Consolidado productivo</h3>
        {{ render(controller('SiiaBundle:Productivo/ConsolidadoProductivo:asociado', {'id': entity.id})) }}
    </section>

{% endblock %}
