{% if leftnav is defined %}
    <div class="dropdown open">
        <ul class="dropdown-menu" role="menu">
            <li role="presentation" class="dropdown-header">
                {{ 'general.menu.actions'|trans }}
            </li>
            {% spaceless %}
                {% for item in leftnav %}
                    {% if item.isHeading is defined %}
                        <li role="presentation" class="divider"></li>
                        <li role="presentation" class="dropdown-header">
                            {{ item.title|trans }}
                        </li>
                    {% else %}
                        <li role="presentation">
                            {% if item.route_args is defined %}
                                {% set route_args = item.route_args %}
                            {% else %}
                                {% set route_args = {} %}
                            {% endif %}
                            <a
                                  role="menuitem"
                                  tabindex="-1"
                                  href="{% if item.route is defined %}{{ path(item.route, route_args) }}{% else %}#{% endif %}">
                                <i class="fa {% if item.icon is defined %}{{ item.icon }}{% else %}fa-chevron-right{% endif %}"></i>
                                {{ item.title|trans }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endspaceless %}
        </ul>
    </div>
{% endif %}
