{% if leftnav is defined %}

    <ul class="nav nav-pills nav-stacked">
        {% if app.request.attributes.get('_route') != 'siia_panel' %}
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-list-ul"></i> Acceso rápido
            </a>

            <ul class="dropdown-menu" role="menu">
                {% for action in filtered_actions() %}
                    <li>
                        <a href="{{ path(action.route) }}">
                            <img src="{{ image(action.image) }}" width="24px"/>
                            <span>{{ action.title }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}
        {% for item in leftnav %}
            {% set route_args = item.route_args is defined ? item.route_args : {} %}
            {% set route =  item.route is defined ? item.route : '#' %}
            {% set icon = item.icon is defined ? item.icon : 'fa-chevron-right' %}
            <li>
                <a href="{{ path(item.route, route_args) }}">
                    <i class="fa {{ icon }}"></i> {{ item.title|trans }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
