<p class="bg-warning">
    <strong>Tenga en cuenta</strong> que los valores numéricos enteros deben ser ingresados sin
    puntos, <em>comas </em> u otros símbolos. El uso del punto o la coma es para indicar decimales en el sistema.
</p>
<p class="bg-warning">
    <strong>Tenga en cuenta</strong> El campo localización es de autocompletado y los campos departamento,
    municipio y centro poblado dependen de este por lo tanto la información que usted ingrese debe ser seleccionada
    de la lista que le ofrece el sistema, si por alguna razón el sistema no conoce del lugar
    que usted trata de ingresar usted debe reportar esto al INCODER usando nuestro sistema de
    <a href="http://www.incoder.gov.co/categoria/cat_Contactenos.aspx" target="_blank">Contacto</a>.
</p>
