-{% block form_row %}

    {% spaceless %}
        {% if compound %}
            {{ form_errors(form) }}
            {{ form_label(form) }}
            {{ form_widget(form) }}
        {% else %}
            <div class="form-group {% if errors|length > 0 %}has-error{% endif %}">
                {{ form_errors(form) }}
                {{ form_label(form) }}

                <div class="col-md-6">
                    {{ form_widget(form) }}
                </div>
            </div>
        {% endif %}

    {% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <span class="help-inline inputError">
                <ul class="list-unstyled">
                    {% for error in errors %}
                        <li>
                            {{
                            error.messagePluralization is null
                            ? error.messageTemplate|trans(error.messageParameters, 'validators')
                            : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                            }}
                        </li>
                    {% endfor %}
                </ul>
            </span>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block text_row %}
    <div class="form-group {% if errors|length > 0 %}has-error{% endif %}">
        {{ form_errors(form) }}
        {{ form_label(form) }}
        <div class="col-md-6">
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock text_row %}

{% block integer_row %}
    <div class="form-group {% if errors|length > 0 %}has-error{% endif %}">
        {{ form_errors(form) }}
        {{ form_label(form) }}
        <div class="col-md-6">
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock integer_row %}

{% block choice_row %}
    {% if expanded %}
        <div {{ block('widget_attributes') }}>
            {{ form_errors(form) }}
            {{ form_label(form) }}
            {{ form_widget(form) }}
        </div>
        <div class="clearfix"></div>
    {% else %}
        {{ block('form_row') }}
    {% endif %}
{% endblock choice_row %}

{% block button_row %}
    {% spaceless %}
        {{ form_widget(form) }}
    {% endspaceless %}
{% endblock button_row %}

{% block choice_widget %}
    {% spaceless %}
        {% if expanded %}
            {{ block('choice_widget_expanded') }}
        {% else %}
            {{ block('choice_widget_collapsed') }}
        {% endif %}
    {% endspaceless %}
{% endblock choice_widget %}

{% block date_widget %}
    {% spaceless %}
        {% if widget == 'single_text' %}
            {{ block('form_widget_simple') }}
        {% else %}
            {% set attr = attr|merge({'class': 'row' }) %}
            <div {{ block('widget_container_attributes') }}>

                {{ date_pattern|replace({
                '{{ year }}':  '<div class="col-md-4">' ~ form_widget(form.year) ~ '</div>',
                '{{ month }}': '<div class="col-md-4">' ~ form_widget(form.month) ~ '</div>',
                '{{ day }}':   '<div class="col-md-4">' ~ form_widget(form.day) ~ '</div>',
                })|raw }}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock date_widget %}

{% block choice_widget_collapsed %}
    {% spaceless %}
        {% if required and empty_value is none and not empty_value_in_choices %}
            {% set required = false %}
        {% endif %}
        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
            {% if empty_value is not none %}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
            {% endif %}
            {% if preferred_choices|length > 0 %}
                {% set options = preferred_choices %}
                {{ block('choice_widget_options') }}
                {% if choices|length > 0 and separator is not none %}
                    <option disabled="disabled">{{ separator }}</option>
                {% endif %}
            {% endif %}
            {% set options = choices %}
            {{ block('choice_widget_options') }}
        </select>
    {% endspaceless %}
{% endblock choice_widget_collapsed %}

{% block choice_widget_expanded %}
    {% spaceless %}
        {% for child in form %}
            {{ form_label(child) }}
            {{ form_widget(child) }}
        {% endfor %}
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block checkbox_row %}
    {{ form_errors(form) }}
    {{ form_label(form) }}
    {{ form_widget(form) }}
{% endblock checkbox_row %}

{% block checkbox_label %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <div class="checkbox">
                <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                {{ form_widget(form) }}
                {{ label|trans({}, translation_domain)|raw }}
                </label>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock checkbox_label %}

{% block checkbox_widget %}
    {% set attr = attr|merge({'class': 'checkbox' }) %}
{% spaceless %}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endspaceless %}
{% endblock checkbox_widget %}

{% block form_label %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
                {% set label_attr = label_attr|merge({'class': 'control-label' }) %}
            {% endif %}
            {% if expanded is defined and expanded %}
                {% set label_width = '' %}
            {% else %}
                {% set label_width = 'col-md-5' %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <div class="{{ label_width }}">
                <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain)|raw }}</label>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_label %}

{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}

        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endspaceless %}
{% endblock form_widget_simple %}

{% block form_widget_compound %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% if form.parent is empty %}
                {{ form_errors(form) }}
            {% endif %}
            {{ block('form_rows') }}
            {{ form_rest(form) }}
        </div>
    {% endspaceless %}
{% endblock form_widget_compound %}

{% block form_start %}
    {% set attr = attr|merge({'class': 'form-horizontal' }) %}
    {% spaceless %}
        {% set method = method|upper %}
        {% if method in ["GET", "POST"] %}
            {% set form_method = method %}
        {% else %}
            {% set form_method = "POST" %}
        {% endif %}
        <form name="{{ form.vars.name }}" role="form" method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
        {% if form_method != method %}
            <input type="hidden" name="_method" value="{{ method }}" />
        {% endif %}
    {% endspaceless %}
{% endblock form_start %}
