{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
{% stylesheets
    '@SiiaBundle/Resources/public/libs/bootstrap-3-datepicker/css/datepicker3.css'
    '@SiiaBundle/Resources/public/libs/bootstrap/dist/css/bootstrap-theme.css'
    '@SiiaBundle/Resources/public/libs/bootstrap-tagsinput/dist/bootstrap-tagsinput.css'
    '@SiiaBundle/Resources/public/scss/base.scss'
    '@SiiaBundle/Resources/public/scss/bootstrap-siia.scss'
    'bundles/whiteoctoberpagerfanta/css/pagerfantaDefault.css'

%}
    <link rel="stylesheet" href="{{asset_url}}">
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    <script>var ENV = "{{ app.environment }}";</script>
{% javascripts
    '@SiiaBundle/Resources/public/libs/jquery/jquery.js'
    '@SiiaBundle/Resources/public/libs/bootstrap/dist/js/bootstrap.js'
    '@SiiaBundle/Resources/public/libs/bootstrap3-typeahead/bootstrap3-typeahead.js'
    '@SiiaBundle/Resources/public/libs/bootstrap-3-datepicker/js/bootstrap-datepicker.js'
    '@SiiaBundle/Resources/public/libs/bootstrap-3-datepicker/js/locales/bootstrap-datepicker.es.js'
    '@SiiaBundle/Resources/public/libs/bootstrap-tagsinput/dist/bootstrap-tagsinput.js'
    '@SiiaBundle/Resources/public/libs/underscore/underscore.js'
    '@SiiaBundle/Resources/public/libs/handlebars.js/dist/handlebars.js'

    '@DFormBundle/Resources/public/js/requestAnimationFrame.js'

    '@DFormBundle/Resources/public/js/lib/ruleparser.js'
    '@DFormBundle/Resources/public/js/rulemanager.js'

    '@DFormBundle/Resources/public/js/autocomplete.js'
    '@DFormBundle/Resources/public/js/app.js'
 %}
    <script src="{{asset_url}}"></script>
{% endjavascripts %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-xs-3 no-print">
                <div class="sidebar">
                    <a href="{{ path('siia_panel') }}" title="SIIAT - Pagina principal">
                        <img
                              class="img-responsive logo-siiac-menu"
                                  src="{{ image('@SiiaBundle/Resources/public/img/logo_siiat.jpg').resize(330)}}"
                              alt="Sistema integrado de información agropecuaria"/>
                    </a>
                    {% set version_tag = '1.2.65-1' %}
                    <p style="text-align: center; ">
                        <a href="https://bitbucket.org/rkmax/incoder-siia/commits/tag/{{ version_tag }}"
                           target="_blank"
                           style="color: #ffffff">
                            v{{ version_tag }}
                        </a>
                    </p>
                </div>
                {% if app.user %}
                    <p>Inició como <strong>{{ app.user }}</strong>, <a href="{{ path('fos_user_security_logout') }}">Salir</a></p>
                {% endif %}
                {% block mainleftnav %}
                    {% include 'SiiaBundle::_leftnav_rev2.html.twig' %}
                {% endblock %}
            </div>
            <div class="col-md-9 col-xs-9">
                <div class="content">
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="flash-notice">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

        <div class="row">
            {% block main_footer %}{% endblock %}
        </div>
    </div>
{% endblock %}
