{% extends '::base.html.twig' %}

{% block stylesheets %}
{% stylesheets
    '@SiiaBundle/Resources/public/libs/pure/pure.css'
    '@SiiaBundle/Resources/public/libs/animate.css/animate.css'
    '@SiiaBundle/Resources/public/scss/base-directorio.scss'
    '@SiiaBundle/Resources/public/scss/directorio.scss'
 %}
    <link rel="stylesheet" href="{{asset_url}}">
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    <script>var ENV = "{{ app.environment }}";</script>
{% javascripts
    '@SiiaBundle/Resources/public/libs/jquery/jquery.js'
    '@SiiaBundle/Resources/public/libs/underscore/underscore.js'
    '@SiiaBundle/Resources/public/libs/flexslider/jquery.flexslider.js'
 %}
    <script src="{{asset_url}}"></script>
{% endjavascripts %}
    <script>
        $(window).load(function() {
            $('.flexslider').flexslider({
                animation: "slide"
            });
            $(document).find('.flex-control-nav').hide();
        });
    </script>
{% endblock %}

{% block body %}
    <div class="pure-u-r layout">
        <div class="sidebar pure-u">
            <header class="header">
                <hgroup>
                    <a href="{{ path('_welcome') }}" title="SIIAT - Pagina principal">
                        <h1 class="brand-title">
                            <div class="pure-g-r">
                                <div class="pure-u-1-3">
                                    <img
                                          src="{{ image('@SiiaBundle/Resources/public/img/logo_siiat.png').resize(440) }}"
                                          alt="Sistema integrado de información agropecuaria" />
                                </div>
                                <div class="pure-u-2-3">
                                    <div style="float: right">
                                        <img src="{{ image('@SiiaBundle/Resources/public/img/logo_mincultura.png').resize(373) }}" alt="Ministerio de cultura prosperidad para todos"/>
                                        <img src="{{ image('@SiiaBundle/Resources/public/img/incoder.png').resize(186) }}" alt="Incoder"/>
                                        <img src="{{ image('@SiiaBundle/Resources/public/img/logo_seragros.png').resize(64) }}" alt="Corporacion seragros"/>
                                    </div>
                                </div>
                            </div>
                        </h1>
                    </a>
                </hgroup>
                {% block mainleftnav %}
                {% include 'SiiaBundle::_leftnav.html.twig' %}
                {% endblock %}
                <div class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-siiac">
                    <ul>
                        <li><a href="{{ path('_welcome') }}">INICIO</a></li>
                        <li><a href="{{ path('siia_panel') }}">EL SIIAT</a></li>
                        <li><a href="{{ path('_contenido') }}">CONTENIDO</a></li>
                        <li><a
                               target="_blank"
                               href="http://www.dane.gov.co/index.php/es/agropecuario/sistema-de-informacion-de-precios-del-sector-agropecuario-sipsa/178-economicas/agropecuario/2929-componente-precios-minoristas">SIPSA</a></li>
                        <li><a href="http://www.incoder.gov.co/procesos/procesos_formulario.aspx?proID=13" target="_blank">CONTACTO</a></li>
                    </ul>
                </div>
            </header>
        </div>
        {% block content %}{% endblock %}

        {% block main_footer %}{% endblock %}
    </div>
{% endblock %}
