<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Dev Cliente</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    {% stylesheets
        '@SiiaBundle/Resources/public/libs/pure/pure.css'
        '@SiiaBundle/Resources/public/css/layout.css'
     %}
        <link rel="stylesheet" href="{{asset_url}}">
    {% endstylesheets %}
</head>
<body>

    <div class="pure-g-r main-layout">
        <div class="pure-u main-menu">
            <div class="pure-menu pure-menu-open">
                <a
                    href="#"
                    class="pure-menu-heading"
                    title="Sistema Integrado de Información Agropecuaria">SIIA</a>
                <ul>
                    {% for fkey,fvalue in form_list %}
                        <li {% if fkey == form %}class="pure-menu-selected"{% endif %}>
                            <a href="{{path('form_intro', {'form': fkey})}}">{{fvalue}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="pure-u-1">
            <div data-form-name="tumam" data-rrs-form="{{path('form_provider', {'form': form})}}"></div>
        </div>
    </div>

    <script>var ENV = "{{ app.environment }}";</script>
    {% javascripts
    '@SiiaBundle/Resources/public/libs/jquery/jquery.js'
    '@SiiaBundle/Resources/public/libs/bootstrap/dist/js/bootstrap.js'
    '@SiiaBundle/Resources/public/libs/angular/angular.js'
    '@SiiaBundle/Resources/public/libs/underscore/underscore.js'

    '@DFormBundle/Resources/public/js/lib/ruleparser.js'

    '@DFormBundle/Resources/public/js/app.js'
    '@DFormBundle/Resources/public/js/app.directive-rrs-form.js'
    '@DFormBundle/Resources/public/js/app.directive-rrs-input.js'
    '@DFormBundle/Resources/public/js/app.directive-rrs-fieldset.js'
    '@DFormBundle/Resources/public/js/app.directive-rrs-button.js'
    '@DFormBundle/Resources/public/js/app.directive-rrs-select.js'
    '@DFormBundle/Resources/public/js/app.directive-rrs-checkbox.js'
    '@DFormBundle/Resources/public/js/app.directive-rrs-list.js'
    '@DFormBundle/Resources/public/js/app.directive-rrs-grid.js'
    '@DFormBundle/Resources/public/js/app.directive-rrs-label.js'

    '@DFormBundle/Resources/public/js/app.factory-rrs-utils.js'
    '@DFormBundle/Resources/public/js/app.factory-rrs-builder.js'

    '@DFormBundle/Resources/public/js/app.factory-rrs-rulemanager.js'
    '@DFormBundle/Resources/public/js/app.factory-rrs-ruleparser.js'
    %}
        <script src="{{asset_url}}"></script>
    {% endjavascripts %}
</body>
</html>
