{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">{{ 'plan.componente.title_list'|trans }}</h1>

    <section class="block">
        {% if entities|length > 0 %}
            <table class="table table-striped table-condensed table-bordered">
                <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>{{ 'title.nombre'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><input type="checkbox" id="users_{{loop.index0}}"></td>
                        <td>
                            <a href=" {{ path('plan-accion_componente_edit', {'id':entity.id}) }}">
                                {{entity.nombre}}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagerfanta">
                {{ pagerfanta(entities, 'twitter_bootstrap3_translated') }}
            </div>
        {% else %}
            <aside class="message">
                <p>{{ 'plan.componente.msg_no_entities'|trans }}</p>
            </aside>
        {% endif %}
    </section>
{% endblock %}
