{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">{{ 'plan.accion.title_edit'|trans }}</h1>

    <section class="block">
        {{ form(edit_form) }}
    </section>
{% endblock %}
