{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
<h1 class="content-subhead">Gestión de operadores</h1>

    <section class="block">
        <table class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    <th>Operador</th>
                    <th>NIT / Documento</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('operador_edit', { 'id': entity.id }) }}">{{ entity.nombre }}</a></td>
                    <td>{{ entity.documentoIdentificacion }}</td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagerfanta">
            {{ pagerfanta(entities, 'twitter_bootstrap3_translated') }}
        </div>
    </section>
{% endblock %}
