{% extends 'SiiaBundle::layout.html.twig' %}

{%  form_theme edit_form.insumos '@Siia/Asociado/CuadroAgricola/insumo_widget.html.twig' %}

{% block content %}
    <h1 class="content-subhead">{{ 'asociado.cuadro.agricola.title_edit'|trans }}</h1>

    {% include 'SiiaBundle::_note.html.twig' %}

    {% if app.debug %}
        <a href="{{ path('dform_api_get_trans', {'uuid': entity.slug}) }}">
            SLUG
        </a>
    {% endif %}

    <section class="block">
        {{ form_start(edit_form) }}
            {{ form_errors(edit_form) }}
            {{ form_row(edit_form.dform) }}
        {{ form_end(edit_form) }}
    </section>
{% endblock %}

{% block extrasheets %}

    {% stylesheets
    '@SiiaBundle/Resources/public/libs/select2/select2.css'
    '@SiiaBundle/Resources/public/libs/select2-bootstrap3-css/select2-bootstrap.css'
    %}
    <link rel="stylesheet" href="{{asset_url}}">
    {% endstylesheets %}

{% endblock %}

{% block extrascripts %}
    {% javascripts
        '@SiiaBundle/Resources/public/libs/select2/select2.js'
        '@SiiaBundle/Resources/public/js/cuadro_productivo.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
