{% extends 'SiiaBundle::layout.html.twig' %}

{%  form_theme form.insumos '@Siia/Asociado/CuadroAgricola/insumo_widget.html.twig' %}

{% block content %}
    <h1 class="content-subhead">{{ 'asociado.cuadro.agricola.title_new'|trans }}</h1>

    {% include 'SiiaBundle::_note.html.twig' %}

    <section class="block">
        {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.dform) }}
        {{ form_end(form) }}
    </section>
{% endblock %}

{% block extrasheets %}

    {% stylesheets
    '@SiiaBundle/Resources/public/libs/select2/select2.css'
    '@SiiaBundle/Resources/public/libs/select2-bootstrap3-css/select2-bootstrap.css'
    %}
    <link rel="stylesheet" href="{{asset_url}}">
    {% endstylesheets %}

{% endblock %}

{% block extrascripts %}
    {% javascripts
        '@SiiaBundle/Resources/public/libs/select2/select2.js'
        '@SiiaBundle/Resources/public/js/cuadro_productivo.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
