{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
<div class="row main-panel  ">
    {% for action in filtered_actions() %}
        <div class="col-md-4 col-xs-4">
            {% if action.route is not null %}
                <div class="item">
                    <a href="{{ path(action.route) }}">
                        <img class="img-responsive"
                             src="{{ image(action.image) }}"
                             alt="Sistema integrado de información agropecuaria"/>
                        {{action.title}}
                    </a>
                </div>
            {% else %}
                <hgroup class="item">
                    <h2 class="item-icon"><i class="fa {{action.icon}}"></i></h2>
                    <h3>{{action.title}}</h3>
                </hgroup>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}
