{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">{{ 'asociado.perfil.title_edit'|trans }}</h1>
    {% if app.debug %}
        <a href="{{ path('dform_api_get_trans', {'uuid': entity.slug}) }}">
            SLUG
        </a>
    {% endif %}

    {% include 'SiiaBundle::_note.html.twig' %}

    <section class="block">
        {{ form(edit_form) }}
    </section>
{% endblock %}
