{% extends 'SiiaBundle::layout.html.twig' %}

{% block content %}
    <h1 class="content-subhead">{{ 'asociado.cuadro.pecuario.title_list'|trans({'asociado' : related_entity}) }}</h1>

    <section class="block">
        {% if entities|length > 0 %}
            <table class="table table-striped table-condensed table-bordered">
                <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>Información</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><input type="checkbox" id="users_{{loop.index0}}"></td>
                        <td>
                            <a href="{{ path('cuadro_pecuario_edit', {'id': entity.id}) }}">
                                {{ entity|dform_echo('fecha_inicio_actividad') }} {{entity.producto}}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <aside class="message">
                <p>{{ 'asociado.cuadro.pecuario.no_entities'|trans }}</p>
            </aside>
        {% endif %}
    </section>
{% endblock %}
