{% for item in dform_element(info.form.elements, info.form.name) %}
    {% if item.class == 'fieldset' %}
        <section class="block">
            <h3>{{item.label}}</h3>
            {% for item in dform_element(info.form.elements, item.name) %}
                {% if info.data[item.name] is defined and info.data[item.name] is not empty %}
                    <p><strong>{{item.label|raw}}</strong> : {{info|dform_echo(item.name)}}</p>
                {% endif %}
            {% endfor %}
        </section>
    {% endif %}
{% endfor %}
