@import "mixins";

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    /*background:url('/bundles/siia/img/papa_1920_1080.jpg') #FFF no-repeat 50% 50%;*/
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: #383a24;
}

.sidebar {
    width: 100%;
    position: relative;
    margin: 0;
    background: #fff;
    border-bottom: 3px solid #4f8c49;
}

.header {
    text-align: left;
    top: auto;
    position: static;
}

.layout {
    padding: 0;
}

footer {
  background: #d1ae6c;
}


.pure-menu-siiac {

  margin-top: -20px;

  text-align: right;
  a {
    color: #FFF;
  }

  li {
    background: #4f8c49;
    @include border-top-radius(5px);
    a:focus,
    a:hover {
      background: darken(#4f8c49, 20%);
      @include border-top-radius(5px);
    }
  }
}

@mixin bloques {
  text-align: center;
}

@mixin arrow-down($color) {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid $color;
}

@mixin content-border ($color) {
  border-left: 2px solid $color;
  border-right: 2px solid $color;
  border-bottom: 2px solid $color;
  @include border-bottom-radius(5px);
  padding: 0 1em;
  margin-top: -1.3em;
}

$productor-color: #d2e28a;
$comprador-color: #a9cf46;
$buscador-color: #b9ab40;

.productor-block,
.comprador-block,
.buscador-block {
  h2 {
    padding: 0.5em 0;
  }
}

.buscador-block {
  @include border-top-radius(5px);
  h2 {
    margin-left: 1em;
  }
}

.productor-block {
  background: $productor-color;
  @include bloques;
}

.productor-arrow {
  @include arrow-down($productor-color);
}

.productor-content {
  @include content-border($productor-color);
}

.comprador-arrow {
  @include arrow-down($comprador-color);
}

.comprador-block {
  background: $comprador-color;
  @include bloques;
}

.comprador-content {
  @include content-border($comprador-color);
}

.buscador-block {
  background: $buscador-color;
  color: #fff;
}

.buscador-content {
  background: lighten($buscador-color, 35%);
  margin-top: -1.5em;
  @include border-bottom-radius(5px);
}


.flexslider {
  margin: 20px 0;
}

.more-info {
  background: #a9cf46;
  margin: 1em 0;
}

.more-description {
  margin: 0 1em;
}

@media (min-width: 1024px)
{
  .layout {
    margin: 0 auto;
    width: 85%;
  }
}

.pure-menu.pure-menu-horizontal > ul {
  height: auto;
}

// Mini Buscador de la pagina principal
.pure-button-search {
  background: $buscador-color;
  color: #fff;
}

.search {
  margin: 1em;
}

.pure-form input[type="text"] {
  font-size: 100%;
  &:focus {
    border-color: $buscador-color;
  }
}
