body {
    color: #777;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(142, 142, 214);
    :hover, :focus {
        text-decoration: underline;
    }
}

.layout {
    padding-left: 25%;
    position: relative;
}

.header {
    margin: 1em 2em 0;
    font-family: 'PT Sans', sans-serif;
}

.brand-title {
    margin: 0;
}
.brand-tagline {
    margin: 0;
    font-size: 17px;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
}

.content-subhead {
    text-transform: uppercase;
    color: #3D3D3D;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 130%;
    font-weight: bolder;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 3em 0;
    margin: auto 10px;
}

.block {
    padding-bottom: 2em;
}

.block-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}

.block-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}

.footer {

    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;

    text-align: center;
    padding: 1em 0;

    a {
        color: #ccc;
        font-size: 80%;
    }

    .pure-menu {
        a:hover, a:focus {
            background: none;
        }
    }
}

@media (max-width: 767px) {
    .sidebar {
        width: 100%;
        position: relative;
        margin: 0;
    }

    .header {
        text-align: center;
        top: auto;
        margin: 3em auto;
        position: static;
    }

    .layout {
        padding: 0;
    }
}

@media (max-width: 480px) {
    .content {
        padding: 2em 1em 0;
    }
}

.pure-table-siia {
    width: 100%;
    thead {
        color: darken(#777, 10%);
    }

    tbody {
        text-align: left;
    }
}

.no-bg {
    background: none !important;
}

@media print {

  .no-print,
  .no-print *
  {
    display: none !important;
  }

  .col-xs-9,
  .col-md-9 {
    width: 100%;
  }
}

.sidebar {
  background: #163E73;
  color: #fff;
  padding-top: 10px;
}
