@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

.search-box {
    margin: 2em auto;

    input[type="text"] {
        background: #eee;
        padding: 1em 2em;
        border: 0;
        width: 85%;
        font-size: 120%;
        @include border-radius(10px);
    }

    input[type="text"]:focus {
        outline: none;
    }

    .search-box-btn {
        font-size: 120%;
        padding: 1em;
    }
}

.search-results,
.directory-results {
  padding: 1em;
  background: rgba(255, 255, 255, 0.8);
  margin-top: 1em;
}

dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
  margin-bottom: 0.5em;
}
