.ng-cloak {
  display:none;
}

.items-group {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 200px;
  height: 200px;
  padding: .5em;
}
.bordered {
  border: 1px solid rgb(221, 221, 221);
}

.action-link {
  margin-right: 3px;
}

.action-link,
.enable-drag {
  cursor: pointer;
}

.badge-warning {
  background-color: #9d261d;
}
.badge-info {
  background-color: #5bc0de;;
}

.help {
  font-size: 80%;
  font-style: italic;
  color: rgba(61, 61, 61, 0.58);
}

.overlay-wrapper {
  width: 100%;
  position: relative;
  min-height: 200px;

  &> div {
    width: 100%;
    position: absolute;
    min-height: 200px;
  }
}

.drop-message {
  p {
    margin: auto;
    padding: 2px;
    border: 2px dashed rgb(221, 221, 221);
    text-transform: uppercase;
    font-size: 120%;
    text-align: center;
    min-height: 92px;
    vertical-align: middle;
  }
}

.list-group {
  margin: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
}