$green: rgba(110, 189, 68, 0.7);
$dark-green: rgba(72, 124, 74, 0.7);
$font-color: rgba(255, 255, 255, 0.9);
$font-size: 24px;


.tabs {
    width: 100%;
    float: none;
    list-style: none;
    position: relative;
    padding: 0;
    margin: 1em auto;

    input[type=radio] {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    >li {
      float: left;
      width: 50%;
    }

    label {
        display: block;
        padding: 10px 20px;
        border-radius: 2px 2px 0 0;
        color: $font-color;
        font-size: $font-size;
        font-weight: normal;
        background: $green;
        cursor: pointer;
        position: relative;
        text-align: center;

        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    label:hover {
      background: $dark-green;
    }

    [id^=tab]:checked + label {
        background: $dark-green;
        color: $font-color;
    }

    [id^=tab]:checked ~ [id^=tab-content] {
        display: block;
    }

    .tab-content {
        z-index: 2;
        display: none;
        text-align: left;
        width: 100%;
        position: absolute;
        left: 0;
        box-sizing: border-box;
        -webkit-animation-duration: 0.5s;
        -o-animation-duration: 0.5s;
        -moz-animation-duration: 0.5s;
        animation-duration: 0.5s;
    }
}
