{% verbatim %}
<label for="{{checkbox.id}}" class="pure-checkbox">
    <input
        id="{{checkbox.id}}"
        type="checkbox"
        ng-model="checkbox.checked"
        name="{{checkbox.html_name}}"
        value="{{checkbox.label}}"> {{checkbox.label}}
</label>
{% endverbatim %}
