{% verbatim %}
<div class="form-component">
    <div class="form-header">
        <h1>{{title}}</h1>
    </div>
    <div class="form-content">
        <form method="post" class="form-horizontal" role="form">
            <div class="form-element"></div>
            <div class="form-actions"></div>
        </form>
    </div>
</div>
{% endverbatim %}
