{% verbatim %}
<div class="form-group">
    <label class="col-md-5 control-label" for="{{input.id}}" ng-if="input.showLabel" ng-bind="input.label"></label>
    <div ng-switch="list.type">
        <div ng-switch-when="hidden">
            <input type="{{input.type}}" name="{{input.html_name}}" id="{{input.id}}" ng-model="model">
        </div>
        <div ng-switch-default>
            <div class="col-md-7">
                <input class="form-control" type="{{input.type}}" name="{{input.html_name}}" id="{{input.id}}" ng-model="model">
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
