{% verbatim %}
<div class="pure-control-group">
    <label ng-if="input.showLabel" ng-bind="list.label"></label>
    <div ng-switch="list.type">
        <div ng-switch-when="radio">
            <label for="{{option.id}}" ng-repeat="option in list.options" class="pure-radio">
                <input
                    type="radio"
                    name="{{list.html_name}}"
                    id="{{option.id}}" value="{{option.label}}"
                    ng-model="list.radio">
                {{option.label}}
            </label>
        </div>
        <div ng-switch-when="checkbox">
            <label for="{{option.id}}" ng-repeat="option in list.options" class="pure-checkbox">
                <input
                    type="checkbox"
                    name="{{list.html_name}}[]"
                    id="{{option.id}}" value="{{option.label}}"
                    ng-model="list.checkbox[option.label]">
                {{option.label}}
            </label>
        </div>
    </div>
</div>
{% endverbatim %}
