{% verbatim %}
<div class="form-group">
    <label class="col-md-5 control-label" for="{{select.id}}">{{select.label}}</label>
    <div class="col-md-6">
        <select
              class="form-control"
              id="{{select.id}}"
              ng-model="model"
              ng-options="d.value as d.value for d in select.domain_values">
        </select>
    </div>
    <input type="hidden" name="{{select.html_name}}" value="{{model}}">
</div>
{% endverbatim %}
